@model PT.Domain.Model.ContentPage
@addTagHelper *, PT.UI
@using Microsoft.AspNetCore.Mvc.Localization
@inject ICategoryRepository _iCategoryRepository;
@inject IContentPageReferenceRepository _iContentPageReferenceRepository;


@inject IViewLocalizer  Localizer
@{
    Layout = "~/Views/Shared/_Home.cshtml";
    string language = PT.Base.CultureHelper.GetCurrentCulture.Id;
    var listLinkRefe = await _iContentPageReferenceRepository.SearchAsync(true, 0, 0, x => x.ContentPageId == Model.Id);
}

<div class="page-content">
    <div class="section mt-0">
        <div class="breadcrumbs-wrap">
            <div class="container">
                <div class="breadcrumbs">
                    <a href="/@Model.Language">@Localizer["Home"].Value</a>
                    <span>@Model.Name</span>
                </div>
            </div>
        </div>
    </div>
    <div class="section page-content-first">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 aside">
                    <div class="blog-post blog-post-single">
                        <div class="blog-thumb-img">
                            <img src="@Model.Banner" alt="thumb">
                        </div>
                        <div class="blog-post-info">
                            <div>
                                <h1 class="post-title-detail">@Model.Name</h1>
                                <div class="post-meta">
                                    <div class="post-meta-author">@Localizer["PostBy"].Value: <strong class="author-name">@Model.Author</strong></div>
                                    <div class="post-meta-social">
                                        <partial name="~/Views/Shared/Plugins/_Like.cshtml" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h1 class="blog-details-title mb-20">@Model.Name</h1>
                        <div class="post-text">
                            @Html.Raw(Model.Content)
                            <div style="height:10px;"></div>
                            @if (language == "vi")
                            {
                                <vc:view-module id="10" type="AdvertisingBanner"></vc:view-module>
                            }
                            else if (language == "en")
                            {
                                <vc:view-module id="11" type="AdvertisingBanner"></vc:view-module>
                            }
                        </div>
                        @*<div>
                            <strong class="taglabel">Tags:</strong>
                            <ul class="tags-list">
                                @foreach (var item in Model.Tags)
                                {
                                    <li><a href="@PT.Shared.Functions.FormatUrl(item.Language,item.Link?.Slug)">@item.Name</a></li>
                                }
                            </ul>
                        </div>*@

                        @if (listLinkRefe.Count() > 0)
                        {
                            <div class="baivietmoi nguonthamkhao">
                                <h3>@SR["Reference source"]</h3>
                                <div class="h-decor"></div>
                                @foreach (var item in listLinkRefe)
                                {
                                    <div class="footer-post d-flex" style="margin-top:5px;">
                                        <div class="footer-post-text">
                                            <div class="footer-post-title">
                                                <span class="titleNews">@($"{item.Name}.") <br /> <a rel="nofollow" href="@item.Href">@item.Href</a></span>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        }
                    </div>
                </div>
                <div class="col-lg-3 aside-left mt-5 mt-lg-0">
                    @if (language == "vi")
                    {
                        <vc:view-module id="2" type="Menu"></vc:view-module>
                    }
                    else if (language == "en")
                    {
                        <vc:view-module id="40" type="Menu"></vc:view-module>
                    }
                    <div class="row">
                        @if (Model.Language == "vi")
                        {
                            <vc:view-module id="8" type="StaticInformation"></vc:view-module>
                        }
                        else if (Model.Language == "en")
                        {
                            <vc:view-module id="6" type="StaticInformation"></vc:view-module>
                        }
                    </div>
                    <div style="height:20px;"></div>
                    <div class="row">
                        <div class="col-md-12">
                            <vc:content-page-related content-page-id="@Model.Id" language="@Model.Language" take="100" title="@(Localizer["RecentPosts"].Value)" view="_RelatedBlog"></vc:content-page-related>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
@section Scripts
    {
    <script>
        loadSDKFacebook();
    </script>
}
