@addTagHelper *, Sakura.AspNetCore.Mvc.PagedList
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, PT.UI
@inject Microsoft.Extensions.Options.IOptions<PT.Domain.Model.BaseSettings> _baseSettings;

@{
    Layout = "~/Views/Shared/_Admin.cshtml";
}
<style>

</style>

<div grid-index data-url="@Url.Action("index")">
    <div class="row head-v2">
        <div class="col-md-6">
            <div class="block-header">
                <h2><i class="material-icons">assignment</i> QUẢN LÝ Sản phẩm <span class="label label-danger label-t">Danh sách</span></h2>
                <ol class="breadcrumb breadcrumb-t">
                    <li>
                        <a href="/Admin">
                            Trang điều khiển
                        </a>
                    </li>
                    <li class="active">
                        Danh sách Sản phẩm
                    </li>
                </ol>
            </div>
        </div>
        <div class="col-md-6">
            <div search-advance class="input-group mb-0">
                <div class="input-group-addon input-group-addon-t">
                    <span class="text-addonsearch">Tìm kiếm</span>
                </div>
                <div class="divcansearch">
                    <input grid-input type="text" name="key" class="form-control inputsearch keywidth" placeholder="Tìm theo tên, nội dung">
                    <div search-form class="searchExtensionForm">
                        <a search-close title="Đóng" class="btnCloseSearchEx"><span aria-hidden="true">×</span></a>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group clearfix">
                                    <label class="form-label">Danh mục</label>
                                    <div class="controls">
                                        <select grid-input data-live-search="true" name="categoryId" class="input-sm form-control-t show-tick">
                                            <option selected value="">Tất cả</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group clearfix">
                                    <label class="form-label">Tag</label>
                                    <div class="controls">
                                        <select data-size="10" data-live-search="true" grid-input name="tagId" asp-items="@((SelectList)ViewData["TagSelectList"])" class="input-sm form-control-t show-tick">
                                            <option selected value="">Tất cả</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="form-label">Trạng thái</label>
                                    <div class="controls">
                                        <input @(Context.Request.Query["status"].ToString() == "" ? "checked='checked'" : "") grid-input type="radio" id="radio_0" value="" name="status" class="with-gap radio-col-blue" />
                                        <label for="radio_0" class="labelradio">Tất cả</label>
                                        &nbsp;
                                        <input @(Context.Request.Query["status"].ToString() == "true" ? "checked='checked'" : "") grid-input type="radio" id="radio_2" value="true" name="status" class="with-gap radio-col-green" />
                                        <label for="radio_2" class="labelradio">Sử dụng</label>
                                        &nbsp;
                                        <input @(Context.Request.Query["status"].ToString() == "false" ? "checked='checked'" : "") grid-input type="radio" id="radio_3" value="false" name="status" class="with-gap radio-col-red" />
                                        <label for="radio_3" class="labelradio">Không sử dụng</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a search-menu class="searchExtension" title="Tìm kiếm nâng cao"><i class="material-icons">keyboard_arrow_down</i></a>
                </div>
                <span class="input-group-addon btn-group-addon">
                    <button onclick="getDataGrid(1)" type="button" class="btn bg-indigo waves-effect btn-search"><i class="material-icons">search</i></button>
                </span>
                <div class="input-group-addon btn-group-addon pl-10">
                    @if (_baseSettings.Value.MultipleLanguage)
                    {
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="material-icons">add</i><span>Thêm mới</span> <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu drcontrol">
                                @foreach (var item in PT.Shared.ListData.ListLanguage)
                                {
                                    <li><a button-popup data-target="#myModalBig" asp-action="Create" asp-route-language="@item.Id"><img src="@item.Icon" /> @item.Name</a></li>
                                }
                            </ul>
                        </div>
                    }
                    else
                    {
                        <a button-popup data-target="#myModalBig" asp-action="Create" asp-route-language="@_baseSettings.Value.DefaultLanguage" class="btn btn-primary dropdown-toggle">
                            <i class="material-icons">add</i><span>Thêm mới</span>
                        </a>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-md-12">
            <div grid-loading class="card card-t card-loading">
                <div class="header bg-indigo">
                    <h4 grid-num-row class="num-t m-l-20">
                        Đang tải...
                    </h4>
                    <ul class="header-dropdown m-r--5 header-dropdown-t">
                        <li class="dropdown">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <i class="material-icons">apps</i>
                            </a>
                            <ul class="dropdown-menu pull-left">
                                <li><a href="javascript:void(0);">Đóng lại</a></li>
                            </ul>
                        </li>
                    </ul>
                    <div class="controlOrderBy">
                        <div style="width:110px;" class="itemorder selectOrder">
                            <select grid-input onchange="getDataGrid(1)" data-header="Loại sắp xếp" name="ordertype" class="form-control input-sm form-control-t show-tick">
                                <option data-icon="glyphicon-sort-by-attributes" value="asc">Tăng dần</option>
                                <option data-icon="glyphicon-sort-by-attributes-alt" value="desc">Giảm dần</option>
                            </select>
                        </div>
                        <div style="width:200px;" class="itemorder selectOrder">
                            <select grid-input onchange="getDataGrid(1)" data-header="Xắp xếp theo" name="orderby" class="form-control input-sm form-control-t show-tick">
                                <option data-icon="glyphicon glyphicon-sort" value="datePosted">Xếp theo thời gian đăng</option>
                                <option data-icon="glyphicon glyphicon-sort" value="name">Xếp theo tên hiển thị</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="body body-t">
                    <partial name="_TabLanguage" model="@(new PT.Domain.Model.TabLanguageModel { Language = Context.Request.Query["language"] })" />
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover table-t table-fix">
                            <thead>
                                <tr>
                                    <th style="width:60px;" class="text-center">STT</th>
                                    <th>Tên</th>
                                    <th style="width:20%;">Danh mục</th>
                                    <partial name="_AdminTheadTableModule" />
                                    <th style="width:120px;">Hành động</th>
                                </tr>
                            </thead>
                            <tbody grid-data>
                                <!-- Dữ liệu của bạn sẽ được render ở đây -->
                            </tbody>
                        </table>
                    </div>

                    <div class="pl-20 pr-20 divpagination">
                        <div class="row">
                            <div class="col-md-2 m-b-0">
                                <div class="input-group m-b-0">
                                    <span class="input-group-addon">
                                        Bản ghi/trang
                                    </span>
                                    <div class="form-line form-line-t form-line-pagesize">
                                        <select name="limit" onchange="getDataGrid(1)" class="form-control show-tick" grid-input>
                                            <option selected value="30">30</option>
                                            <option value="40">40</option>
                                            <option value="50">50</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-10  m-b-0">
                                <nav grid-pagination class="pg-t">
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/Content/Admin/plugins/ckeditor/ckeditor.js"></script>
    <script src="~/Content/Admin/plugins/jstree/jstree.min.js"></script>
    <link href="~/Content/Admin/plugins/jstree/themes/default/style.css" rel="stylesheet" />
    <link href="~/Content/Admin/plugins/jstree/themes/default-dark/style.css" rel="stylesheet" />

    <script>
        var contentPageRelated = [];
        var contentPageReference =[];

        var _page = location.search.page > 0 ? location.search.page : 1;
        $(function () {
            bindCategory($("[name='language']").val(), '@Context.Request.Query["categoryId"].ToString()');
            $("[search-advance]").toSearch();
            $("[button-popup]").toPopup();
            $("[button-open-file-manager]").toButtonOpenFile();
            $("[button-submit]").toSubmit();
            $("[button-delete]").toDelete();
            $("[button-upload]").toUploadFile();
            $("[button-post]").toPost();
            getDataGrid(1, true);
        });


        function initRickText(pathUpload) {
            pathUpload = pathUpload.replace(/&amp;/g, "&");
            $("ricktextContent").toRickText({ customConfig: 'configRickText.js', filebrowserUploadUrl: pathUpload });

            $("ricktextContent2").toRickText({ customConfig: 'configRickText.js', filebrowserUploadUrl: pathUpload });

            $("[button-update-status]").toPost(function (rs, $this) {
                swal({
                    title: "Thông báo!",
                    text: rs.message,
                    type: rs.type,
                    confirmButtonText: "Đóng!"
                });
                setTimeout(function () {
                    $this.button('reset');
                    setTimeout(function () {
                        statusButtonEdit(false);
                    }, 200);
                }, 300);

            }, function () {
                return serializedData;
            });
        }

        function initAutoComplate() {
            $("#TagIds").toTagsInput(function ($data) {
                $data.language = $("[form-edit] [name='Language']").val();
                return $data;
            });
        }

        function initAutoComplate2() {
            $("#BlogId").toSelectAutocomplete({},function ($data) {
                $data.type = function () {
                    return $("[form-edit] [name='Language']").val();
                };
                return $data;
            });
        }

        function getDataGrid(page, first = false) {
            _page = page;
            $("[grid-index]").toGridView(first, page);
        }

        function reGetDataGrid(e) {
            if (e != null) {
                  _page = 1;
                $("[name='language']").val($(e).attr("data-val"));
                bindCategory($("[name='language']").val(), "");
                $("[name='categoryId']").val("").selectpicker('refresh');
            }
            getDataGrid(_page, false);
        }

        function getTreeCategory(language, id = 0) {
            $.post("@Url.Action("TreeCategory")?language=" + language + "&id=" + id, function (data) {
                var $treeview = $('#using_json_2').jstree({
                    'check_callback': true,
                    'core': {
                        'data': data,
                        "themes": {
                            "dots": true,
                            "icons": false
                        }
                    },
                    "plugins": ["checkbox", "changed"]
                }).on("changed.jstree", function (e, data) {
                    if (data.node != undefined) {
                        var parrents = "";
                        if (data.node.parents != null) {
                            parrents = data.node.parents.join(",");
                        }
                        var newStr = parrents + "," + data.selected.toString();
                        newStr = newStr.replace("#", "-1");
                        $("[name='CategoryIds']").val(newStr);
                    }
                });
                $treeview.on('ready.jstree', function () {
                    $treeview.jstree('open_all');
                });
            });
        }

        function bindCategory(language, setvalue = "") {
            $.get("@Url.Action("SearchCategory")?language=" + language, function (data) {
                $("[name='categoryId']").empty();
                $("[name='categoryId']").append("<option value=''>Tất cả</option>")
                for (i = 0; i < data.length; i++) {
                    $("[name='categoryId']").append("<option value='" + data[i].value + "'>" + data[i].text + "</option>")
                }
                $("[name='categoryId']").val(setvalue).selectpicker('refresh');
            })
        }

    </script>
}
