@model PT.Domain.Model.BlogModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@inject Microsoft.Extensions.Options.IOptions<PT.Domain.Model.BaseSettings> _baseSettings
@{
    Layout = null;
    string altId = Guid.NewGuid().ToString();
    string pathUpload = Url.Action("UploadImage", new { altId, type = 1, id = 0 });
    var fileUploadSingleBanner = new PT.Domain.Model.PluginFileUploadModel
    {
        Extention = _baseSettings.Value.ImagesType,
        InputName = "Banner",
        MaxSize = _baseSettings.Value.DocumentsMaxSize,
        UrlUpload = Url.Action("UploadImage", new { id = Model.Id, altId }),
        ParentTagName = "file-parent-photos-1",
        FileDataString = Model.Banner,
        IsS = true,
        IsSingle = true
    };
}
<style>
    .tt-menu {
        z-index: 999999;
    }
</style>
<form form-edit asp-action="Create">
    <input type="hidden" asp-for="Language" />
    <input type="hidden" name="altId" value="@altId" />
    <input type="hidden" asp-for="CategoryIds" />
    @Html.AntiForgeryToken()
    <input asp-for="Language" type="hidden" />
    <div class="sumaryValidateForm" asp-validation-summary="All"></div>
    <div class="modal-header">
        <h4 class="modal-title"><i class="material-icons">edit</i> THÊM MỚI TIN TỨC  - <span class="text-warning">@Model.PortalName</span> - <span class="text-danger">@PT.Shared.ListData.ListLanguage.FirstOrDefault(x => x.Id == Model.Language)?.Name </span></h4>
    </div>
    <button title="Đóng cửa sổ" type="button" class="close btnclose-t" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <div class="modal-body">
        <div class="divmodal">
            <div class="row">
                <div class="col-md-9">
                    <div class="panel-group panel-website full-body" id="accordion_19" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingOne_1">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" href="#collapseOne_1" aria-expanded="true" aria-controls="collapseOne_1">
                                        <i class="material-icons">perm_contact_calendar</i> Thông tin chung
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseOne_1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne_1">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <input type="hidden" asp-for="PortalId" />
                                            <div class="form-group">
                                                <label class="form-label" asp-for="Name"></label> <strong class="text-danger">*</strong> <span asp-validation-for="Name"></span>
                                                <div class="controls">
                                                    <input type="text" seo-page-name onkeydown="GenSlug()" onkeyup="GenSlug()" class="form-control input-sm form-control-t" placeholder="" asp-for="Name">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label" asp-for="Summary"></label> <span asp-validation-for="Summary"></span>
                                        <div class="controls">
                                            <textarea id="ricktextSummary" class="form-control form-control-t" rows="3" placeholder="Tóm tắt" asp-for="Summary"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label" asp-for="Content"></label> <span asp-validation-for="Content"></span>
                                        <div class="controls">
                                            <textarea id="ricktextContent" seo-page-content class="form-control form-control-t" rows="3" placeholder="Mô tả" asp-for="Content"></textarea>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="form-label">Thêm nguồn tham khảo</label>
                                                <div class="input-group input-group-t">
                                                    <div class="input-group-addon br-none">
                                                        Tên nguồn
                                                    </div>
                                                    <input type="hidden" asp-for="ContentPageReferenceIds" />
                                                    <input type="text" id="NameReference" class="form-control input-sm form-control-t" placeholder="">
                                                    <div class="input-group-addon br-none" style="border-left:none;">
                                                        Đường dẫn
                                                    </div>
                                                    <input type="text" id="UrlReference" class="form-control input-sm form-control-t" placeholder="">
                                                    <div class="input-group-addon btn-group-addon btn-group-addon-form-group">
                                                        <a button-add-reference class="btn btn-icon bg-indigo waves-effect"><i class="material-icons">add</i> Thêm</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-12">
                                            <table class="table table-striped table-bordered table-hover table-t">
                                                <thead>
                                                    <tr>
                                                        <th style="width:40px;" class="text-center">Stt</th>
                                                        <th>Tên nguồn</th>
                                                        <th style="width:60px;">Xóa</th>
                                                    </tr>
                                                </thead>
                                                <tbody bind-reference></tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="TagIds"></label>
                                        <select asp-items="@Model.TagSelectList" multiple data-action-add="@Url.Action("AddTag")" style="width:100%;" data-action="@Url.Action("SearchTag")" asp-for="TagIds" class="form-control ms form-tag"></select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingOne_4">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" href="#collapseOne_4" aria-expanded="true" aria-controls="collapseOne_4">
                                        <i class="material-icons">list</i> Bài viết liên quan
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseOne_4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne_4">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <div class="input-group input-group-t">
                                                    <div class="input-group-addon br-none">
                                                        Chọn bài viết liên quan
                                                    </div>
                                                    <input type="hidden" asp-for="ContentPageRelatedIds" />
                                                    <select data-live-search="true" id="BlogId" data-action="@Url.Action("SearchContentPage")" name="BlogId" class="input-sm form-control-t show-tick with-ajax"></select>
                                                    <div class="input-group-addon btn-group-addon btn-group-addon-form-group">
                                                        <a button-add-related class="btn btn-icon bg-indigo waves-effect"><i class="material-icons">add</i> Thêm</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <table class="table table-striped table-bordered table-hover table-t">
                                                <thead>
                                                    <tr>
                                                        <th style="width:40px;" class="text-center">Stt</th>
                                                        <th>Tên</th>
                                                        <th style="width:60px;">Xóa</th>
                                                    </tr>
                                                </thead>
                                                <tbody bind-related></tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <partial name="_ReferenceModule" model="@(new PT.Domain.Model.LinkReferenceBaseModel() { Language =Model.Language , Type = Model.Type,LinkId = Model.LinkId, PortalId = Model.PortalId })" />
                        <partial name="_SeoModule" model="@(PT.Shared.MapModel<PT.Domain.Model.SeoModel>.Go(Model))" />
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="labelinfo-t bg-info mb-10">
                        Ảnh đại diện
                    </div>
                    <div>
                        <partial name="_FileUploadSingle" model="@fileUploadSingleBanner" />
                    </div>
                    <div class="labelinfo-t bg-info mb-10">
                        DANH MỤC TIN
                    </div>
                    <div class="form-group">
                        <div class="controls tree-category" id="using_json_2">
                        </div>
                    </div>
                    <div class="labelinfo-t bg-info mb-10">
                        CẤU HÌNH HIỂN THỊ
                    </div>
                    <div class="form-group">
                        <label class="form-label" asp-for="Author"></label> <strong class="text-danger">*</strong> <span asp-validation-for="Author"></span>
                        <div class="input-group input-group-t">
                            <div class="input-group-addon br-none">
                                &nbsp;
                                <i class="material-icons">person_outline</i>
                            </div>
                            <input type="text" class="form-control input-sm form-control-t" asp-for="Author">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-label" asp-for="DatePosted"></label> <strong class="text-danger">*</strong> <span asp-validation-for="DatePosted"></span>
                        <div class="input-group input-group-t">
                            <div class="input-group-addon br-none">
                                &nbsp;
                                <i class="material-icons">event_available</i>
                            </div>
                            <input type="text" value="@DateTime.Now.ToString("dd/MM/yyyy HH:mm")" class="form-control input-sm form-control-t" asp-for="DatePosted">
                        </div>
                    </div>
                    <div class="pt-5"></div>
                    <div class="form-group">
                        <input type="checkbox" asp-for="Status" class="filled-in chk-col-green" />
                        <label for="Status" asp-for="Status"></label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer" style="text-align:center;">
        <a class="btn btn-icon btn-default waves-effect" data-dismiss="modal"><i class="material-icons">reply</i><span>Đóng</span></a>
        <a button-submit data-language="@Model.Language" data-loading-text="<i class='material-icons icon-spin'>autorenew</i> <span>Lưu thay đổi</span>" class="btn btn-icon bg-indigo waves-effect"><i class="material-icons">save</i> <span>Lưu thay đổi</span></a>
    </div>
</form>
<script>
    initRickText("@pathUpload");
    paseReference([]);
    paseRelated([]);
    $("[name='DatePosted']").toDateTimePicker();
    $("[name='Lastmod']").toDateTimePicker();
    initAutoComplate();
    initAutoComplate2();
    portalChange();
    function portalChange()
    {
       getTreeCategory($("[form-edit] [name='Language']").val(), 0, @Model.PortalId);
    }
</script>