@model ComponentModel<ContentPage>
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer  Localizer
@{
    Layout = null;
}

@if (Model.Items.Count() > 0)
{
    <div class="section" id="specialOffer">
        <div class="container">
            <div class="title-wrap text-center">
                <div class="h-sub theme-color">@Localizer["For Our Dear Clients"]</div>
                <h2 class="h1">@Localizer["Special Offers"]</h2>
                <div class="h-decor"></div>
            </div>
            <div class="special-carousel js-special-carousel row">
                @foreach (var item in Model.Items)
                {
                    <div class="col-6">
                        <a href="@PT.Shared.Functions.FormatUrl(item.Language,item.Link?.Slug)">
                            <div class="special-card">
                                <div class="special-card-photo">
                                    <img onerror="this.onerror=null;this.src = '/Content/Home/images/No_Image_Available.jpg';" src="@(item.Banner??" ")" alt="@item.Name">
                                </div>
                                <div class="special-card-caption text-left">
                                    <div class="special-card-txt1">@item.Name</div>
                                    <div class="special-card-txt2">@Localizer["Promotion Information"]</div>
                                </div>
                            </div>
                        </a>
                    </div>
                }
                @if (Model.Items.Count() <= 1)
                {
                    <div class="col-6" style="display:none;">
                        <div class="special-card">
                            <div class="special-card-photo">
                                <img src="/Content/Home/images/No_Image_Available.jpg" alt="Nha Khoa Hoa Hồng">
                            </div>
                            <div class="special-card-caption text-left">
                                <div class="special-card-txt1">Nha khoa Hoa Hồng</div>
                                <div class="special-card-txt2">Nha khoa Hoa Hồng</div>
                                <div>
                                </div>
                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
}
