@model PT.Domain.Model.BaseSearchModel<List<PT.Domain.Model.ContentPage>>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
    int i = 1;
}
<tr style="display:none !important;">
    <td colspan="999999">
        <input type="hidden" grid-data-page value="@Model.Page" />
        <input type="hidden" grid-data-totalrows value="@Model.TotalRows" />
        <input type="hidden" grid-data-limit value="@Model.Limit" />
    </td>
</tr>
@if (Model.TotalRows == 0)
{
    <tr>
        <td colspan="999">Không tìm thấy bản ghi nào</td>
    </tr>
}
@foreach (var item in Model.Data)
{
    <tr class="tr-status-@(item.Status)">
        <td class="text-center">@PT.Shared.Functions.GenSTT(i,Model.Page,Model.Limit)</td>
        <td><span class="text-primary text-name">@item.Name</span></td>
        <td>
            @foreach (var category in item.Categorys)
            {
                <span class="label label-primary">@category?.Name</span>
            }
        </td>
        <td>
            @foreach (var tag in item.Tags)
            {
                <span class="label label-danger">@tag?.Name</span>
            }
        </td>
        <td>@item.DatePosted.ToString("dd/MM/yyyy HH:mm")</td>

        <partial name="_AdminTbodyTableModule" model="@(new Tuple<List<PT.Domain.Model.LinkReference>,string,string,bool>(item.LinkReferences,item.Language,Url.Action("Edit", new { id ="#Id#" }),false))"/>

        <td>
            <div class="btn-group">
                <div class="btn-group btn- group-sm" role="group">
                    <a target="_blank" href="@PT.Shared.Functions.FormatUrl(item.Language,item.Link?.Slug)" title="Đến trang" class="btn btn-default waves-effect btncontrolgrid"><i class="material-icons iconcontrol">link</i></a>
                    <a onclick="onCopyClipboard('@PT.Shared.Functions.FormatUrl(item.Language,item.Link?.Slug)')" title="Lấy link" class="btn bg-blue waves-effect btncontrolgrid"><i class="material-icons iconcontrol">share</i></a>
                    <a button-popup data-target="#myModalBig" asp-action="Edit" asp-route-id="@item.Id" title="Cập nhật" class="btn bg-indigo waves-effect btncontrolgrid"><i class="material-icons iconcontrol">edit</i></a>
                </div>
            </div>
        </td>
    </tr>
    i++;
}