@model PT.Domain.Model.Category
@addTagHelper *, PT.UI
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer  Localizer
@using PT.Shared;
@{
    Layout = "~/Views/Shared/_Home.cshtml";
    string language = PT.Base.CultureHelper.GetCurrentCulture.Id;
}

<main class="main">

    <!-- breadcrumb -->
    <div class="site-breadcrumb" style="background: url(assets/img/cta/01.jpg)">
        <div class="container">
            <h2 class="breadcrumb-title" style="text-transform:uppercase;">@Model.Name</h2>
            <ul class="breadcrumb-menu">
                <li><a href="/">Home</a></li>
                <li class="active">@Model.Name</li>
            </ul>
        </div>
    </div>
    <!-- breadcrumb end -->
    <!-- blog area -->
    <div class="blog-area py-120">
        <div class="container">
        
            <div class="row">
            @foreach (var item in Model.PageBlog.Data)
            {
                string url = @PT.Shared.Functions.FormatUrl("", item.Link?.Slug);
                    <div class="col-md-6 col-lg-4">
                        <div class="blog-item wow fadeInUp" data-wow-delay=".25s">
                            <div class="blog-item-img">
                                <img class="news-img" src="@item.Banner" alt="@item.Name">
                            </div>
                            <div class="blog-item-info">
                                <h4 class="blog-title">
                                    <a href="@url">@item.Name</a>
                                </h4>
                            </div>
                        </div>
                    </div>
                }
            </div>

            <!-- pagination -->
            <div class="pagination-area">
                <div aria-label="Page navigation example">
                    <ul class="pagination">
                        @Html.Raw(PT.Shared.Functions.GenPageList("", Model.PageBlog.Page, Model.PageBlog.TotalRows, Model.PageBlog.Limit, null, "page-item"))
                    </ul>
                </div>
            </div>
            <!-- pagination end -->
        </div>
    </div>
    <!-- blog area end -->

</main>
