@model PT.Domain.Model.Category
@addTagHelper *, PT.UI
@using Microsoft.AspNetCore.Mvc.Localization
@inject ICategoryRepository _iCategoryRepository;
@inject IViewLocalizer  Localizer
@inject ITourTypeRepository iTourTypeRepository;
@using PT.Shared;
@{
    Layout = "~/Views/Shared/_Home.cshtml";
    string language = PT.Base.CultureHelper.GetCurrentCulture.Id;
    var listCategory = await _iCategoryRepository.CurrentTreeChildrent(Model.Id, language, CategoryType.CategoryTour);
    var listCategoryMenu = await _iCategoryRepository.GetChildrent(Model.Id, language, CategoryType.CategoryTour);
    var listTourTypes = await iTourTypeRepository.SearchAsync(true, 0, 100, x => x.Status && !x.Delete && x.Language == language);
}
<section class="parallax-window" style="
        background-image: url(@(string.IsNullOrEmpty(Model.Banner) ? "/Content/Home/img/du-lich-viet-nam.jpg" : Model.Banner));
        height: 600px;
        backface-visibility: hidden;
        background-repeat: no-repeat;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;">
    <div class="parallax-content-1">
        <div class="animated fadeInDown">
            <h1>@Model.Name</h1>
            <p>@Model.Summary</p>
        </div>
    </div>
</section>

<main>
    <div id="position">
        <div class="container">
            <ul>
                <li>
                    <a href="/@language/">@Localizer["Home"].Value</a>
                </li>
                @foreach (var item in listCategory)
                {
                    if (item != listCategory.LastOrDefault())
                    {
                        <li><a href="@PT.Shared.Functions.FormatUrl(item?.Language,item?.Link?.Slug)">@item.Name</a></li>
                    }
                    else
                    {
                        <li>@item.Name</li>
                    }
                }
            </ul>
        </div>
    </div>

    <div class="container margin_60">
        <div class="row">
            <aside class="col-lg-3">
                <div id="filters_col">
                    <a data-toggle="collapse" href="#collapseFilters" aria-expanded="false" aria-controls="collapseFilters" id="filters_col_bt"><i class="icon_set_1_icon-65"></i>Filter Your Search</a>
                    <div class="collapse show" id="collapseFilters">
                        @if (listCategoryMenu.Count() > 0)
                        {
                            <div class="filter_type">
                                <h6>
                                    Destination
                                </h6>
                                <ul>
                                    @foreach (var item in listCategoryMenu)
                                    {
                                        <li>
                                            <label>
                                                <input value="@item.Id" name="categorys[]" type="checkbox">@item.Name
                                            </label>
                                        </li>
                                    }
                                </ul>
                            </div>
                        }

                        <div class="filter_type">
                            <h6>Duration</h6>
                            <ul>
                                <li>
                                    <label>
                                        <input name="days[]" value="1-3" type="checkbox"> 1 - 3 days
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        <input name="days[]" value="4-7" type="checkbox"> 4 - 7 days
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        <input name="days[]" value="8-14" type="checkbox"> 8 - 14 days
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        <input name="days[]" value="14-99999" type="checkbox"> More than 14 days
                                    </label>
                                </li>
                            </ul>
                        </div>
                        <div class="filter_type">
                            <h6>Type Of Trips</h6>
                            <ul>
                                @foreach (var item in listTourTypes)
                                {
                                    <li><label><input name="tourTypes[]" value="@item.Id" type="checkbox"> @item.Name</label></li>
                                }
                            </ul>
                        </div>
                    </div>
                    <!--End collapse -->
                </div>
                @if (language == "en")
                {
                    <vc:view-module id="21" type="StaticInformation"></vc:view-module>
                }
                else if (language == "it")
                {
                    <vc:view-module id="22" type="StaticInformation"></vc:view-module>
                }
            </aside>
            <!--End aside -->

            <div class="col-lg-9">
                <div id="preloader-list" style="display:none;">
                    <div class="sk-spinner sk-spinner-wave">
                        <div class="sk-rect1"></div>
                        <div class="sk-rect2"></div>
                        <div class="sk-rect3"></div>
                        <div class="sk-rect4"></div>
                        <div class="sk-rect5"></div>
                    </div>
                </div>
                <div content-data-tour style="max-width:100%;overflow-x:hidden;">
                    <div class="row animated fadeInDown">
                        @foreach (var item in Model.Tours.Data)
                        {
                            <div class="col-lg-6 col-md-6 wow zoomIn" data-wow-delay="0.3s">
                                <div class="tour_container">
                                    @if (item.IsTop)
                                    {
                                        <div class="ribbon_3 popular"><span>Popular</span></div>
                                    }
                                    <div class="img_container">
                                        <a href="@Functions.FormatUrl(item.Language,item.Link?.Slug)">
                                            <img onerror="this.onerror=null;this.src = '/Content/Home/img/no-image.jpg';" src="@($"/data/image?path={item.Banner}&size=800")" alt="@item.Name" width="800" height="533" class="img-fluid">
                                            <div class="short_info">
                                                <i class="icon_set_1_icon-44"></i>
                                                @if (item.Days == 1)
                                                {
                                                    @item.Days <text>day</text>
                                                }
                                                else if (item.Days > 1)
                                                {
                                                    @item.Days <text>days</text>
                                                }

                                                @if (item.Nights == 1)
                                                {
                                                    @item.Nights <text>night</text>
                                                }
                                                else if (item.Nights > 1)
                                                {
                                                    @item.Nights <text>nights</text>
                                                }
                                            </div>
                                        </a>
                                    </div>
                                    <div class="tour_title">
                                        <h3><strong>@item.Name</strong></h3>
                                        <div class="tour-route">
                                            @Functions.FormatTrips(item.Trips)
                                        </div>
                                        <div class="mt15">
                                            <a class="btn_1 btn-template" href="@Functions.FormatUrl(item.Language,item.Link?.Slug)" role="button">Read more</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>


            </div>
        </div>
    </div>
</main>

<style>
    .parallax-content-1 {
        min-height: 700px !important;
    }
</style>
@section Scripts
{
    <script>
        $('[type="checkbox"]').iCheck({
            checkboxClass: 'icheckbox_square-grey',
            radioClass: 'iradio_square-grey'
        });

        searchTour(1);

        $('[type="checkbox"]').on('ifChanged', function (event) {
            searchTour(1);
        });

        function searchTour(page) {
            //$("#preloader").fadeIn(200);
            var _categorys = [];
            var _tourTypes = [];
            var _days = [];

            $("[name='categorys[]']:checked").each(function (i) {
                _categorys.push($(this).val());
            });

            $("[name='tourTypes[]']:checked").each(function (i) {
                _tourTypes.push($(this).val());
            });

            $("[name='days[]']:checked").each(function (i) {
                _days.push($(this).val());
            });

            $.post("/Home/CategoryHome/TourSearch", { categorys: _categorys, categorys2: _categorys, tourTypes: _tourTypes, days: _days, lang: '@language', page: page }, function (data) {
                $("[content-data-tour]").html(data);
                $("#preloader").fadeOut(200);
            });
        }
    </script>
}