@model PT.Domain.Model.BaseSearchModel<List<PT.Domain.Model.Log>>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
    var listController = (List<PT.Domain.Model.RoleController>)ViewData["ListController"];
    int i = 1;
}
<tr style="display:none !important;">
    <td colspan="999999">
        <input type="hidden" grid-data-page value="@Model.Page" />
        <input type="hidden" grid-data-totalrows value="@Model.TotalRows" />
        <input type="hidden" grid-data-limit value="@Model.Limit" />
    </td>
</tr>
@if (Model.TotalRows == 0)
{
    <tr>
        <td colspan="999">Không tìm thấy bản ghi nào</td>
    </tr>
}
@foreach (var item in Model.Data)
{
<tr class="tr-log-@item.Type">
    <td class="text-center">@PT.Shared.Functions.GenSTT(i, Model.Page, Model.Limit)</td>
    <td>@item.Name</td>
    <td>@Html.EnumGetDisplayName(item.Type)</td>
    <td>@listController.FirstOrDefault(m => m.Id == item.ObjectType)?.Name</td>
    <td></td>
    <td>@item.ActionTime.ToString("dd/MM/yyyy HH:mm:ss")</td>
</tr>
    i++;
}
