@model PT.Domain.Model.RoleManagerModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "~/Views/Shared/_Admin.cshtml";
}
<form form-edit asp-action="Edit">
    @Html.AntiForgeryToken()
    <div class="block-header">
        <h2><i class="material-icons">group</i> Nhóm quyền tài khoản <span class="label label-primary label-t">Cập nhật</span></h2>
        <ol class="breadcrumb breadcrumb-t">
            <li>
                <a href="/Admin">
                    Trang điều khiển
                </a>
            </li>
            <li>
                <a href="@PT.Shared.Functions.FormatReturnUrl(Context.Request.Query["returnurl"], Url.Action("Index"))">
                    Danh sách nhóm quyền
                </a>
            </li>
        </ol>
    </div>
    <div class="row clearfix">
        <div class="col-md-12">
            <div class="card card-t card-loading">
                <div class="body body-tab">
                    <ul class="nav nav-tabs nav-tabs-t" role="tablist">
                        <li role="presentation" class="active">
                            <a href="#tab101" data-toggle="tab">
                                <i class="material-icons">edit</i> Cập nhật nhóm quyền
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content tab-content-t">
                        <div role="tabpanel" class="tab-pane fade  in active" id="tab101">
                            <div class="sumaryValidateForm" asp-validation-summary="All"></div>
                            <div class="row">
                                <div class="col-md-6 mb-0">
                                    <div class="labelinfo-t bg-info mb-10">
                                        Thông tin cơ bản
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Name"></label> <strong class="text-danger">*</strong> <span asp-validation-for="Name"></span>
                                        <input type="text" asp-for="Name" class="form-control input-sm form-control-t" placeholder="Từ 1 đến 100 ký tự">
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label" asp-for="Type"></label> <strong class="text-danger">*</strong> <span asp-validation-for="Type"></span>
                                        <div class="controls">
                                            <select asp-for="Type" asp-items="Model.TypeSelectList" class="input-sm form-control-t show-tick"></select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Description"></label>
                                        <textarea type="text" rows="4" asp-for="Description" class="form-control input-sm form-control-t" placeholder="Từ 0 đến 1000 ký tự"></textarea>
                                        <span asp-validation-for="Description"></span>
                                    </div>
                                    <div class="mt-15"></div>
                                    <div class="divbtnform">
                                        <a href="@PT.Shared.Functions.FormatReturnUrl(Context.Request.Query["returnurl"], Url.Action("Index"))" class="btn btn-icon btn-p-t btn-default waves-effect"><i class="material-icons">reply</i><span>Quay lại</span></a>
                                        <button data-form="[form-edit]" data-form-type="form" button-delete data-return-url="@PT.Shared.Functions.FormatReturnUrl(Context.Request.Query["returnurl"], Url.Action("Index"))" data-action="@Url.Action("Delete",new { id = Model.Id})" data-checked data-role-2 data-loading-text="<i class='material-icons icon-spin'>autorenew</i> <span>Xóa</span>" type="button" class="btn btn-icon  btn-p-t  btn-danger waves-effect"><i class="material-icons">delete_forever</i> <span>Xóa</span></button>
                                        <button button-submit data-loading-text="<i class='material-icons icon-spin'>autorenew</i> <span>Lưu thay đổi</span>" type="button" class="btn  btn-p-t  btn-icon bg-indigo waves-effect"><i class="material-icons">save</i> <span>Lưu thay đổi</span></button>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-0">
                                    <div class="labelinfo-t bg-info mb-10">
                                        Phân quyền chức năng
                                    </div>
                                    <div id="using_json_2" class="demo">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" name="ids" id="ids" />
    <input type="hidden" name="isChange" id="isChange" value="true" />
</form>
<style>
    .jstree-anchor
    {
        background:none !important;
    }
    .jstree-container-ul > li > a {
        color: #f44337 !important;
    }
        .jstree-container-ul > li > ul > li > a {
            color: #3f50b5 !important;
            text-transform:uppercase;
        }
</style>
@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <script src="~/Content/Admin/plugins/jstree/jstree.min.js"></script>
    <link href="~/Content/Admin/plugins/jstree/themes/default/style.css" rel="stylesheet" />
    <link href="~/Content/Admin/plugins/jstree/themes/default-dark/style.css" rel="stylesheet" />
    <script>
        var num = 0;
        var data = @Html.Raw(Model.TreeData);
        $("[button-delete]").toDelete();
        $("[button-submit]").toSubmit(function () { });
        var $treeview =  $('#using_json_2').jstree({
            'check_callback': true,
            'core': {
                'data': data,
                "themes": {
                    "dots": true,
                    "icons": true
                }
            },
            "plugins": ["checkbox","changed"]
        }).on("changed.jstree", function (e, data) {
            $("#ids").val(data.selected.toString());
        });
   
        $treeview.on('ready.jstree', function () {
            $treeview.jstree('close_all');
        });
    </script>
}
