@model PT.Domain.Model.BannerModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}
<style>
    .tt-menu {
        z-index: 999999;
    }
</style>
<div class="modal-header">
    <h4 class="modal-title"><i class="material-icons">edit</i> CẬP NHẬT SLIDE HÌNH ẢNH - <span class="text-warning">@Model.PortalName</span> - <span class="text-danger">@PT.Shared.ListData.ListLanguage.FirstOrDefault(x => x.Id == Model.Language)?.Name </span></h4>
</div>
<button title="Đóng cửa sổ" type="button" class="close btnclose-t" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
</button>
<div class="modal-body">
    <div class="divmodal">
        <div class="panel-group panel-website full-body" id="accordion_19" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab"  id="headingOne_1">
                    <h4 class="panel-title">
                        <a role="button"  data-toggle="collapse" href="#collapseOne_1" aria-expanded="true" aria-controls="collapseOne_1">
                            <i class="material-icons">perm_contact_calendar</i> Thông tin chung
                        </a>
                    </h4>
                </div>
                <div id="collapseOne_1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne_1">
                    <div class="panel-body">
                        <form form-edit asp-action="Edit">
                            @Html.AntiForgeryToken()
                            <input type="hidden" asp-for="Id" />
                            <input asp-for="Language" type="hidden" />
                            <div class="sumaryValidateForm" asp-validation-summary="All"></div>
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label class="form-label" asp-for="Name"></label> <strong class="text-danger">*</strong> <span asp-validation-for="Name"></span>
                                        <div class="controls">
                                            <input type="text" class="form-control input-sm form-control-t" asp-for="Name">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label class="form-label" asp-for="Code"></label> <strong class="text-danger">*</strong> <span asp-validation-for="Code"></span>
                                        <div class="controls">
                                            <input type="text" class="form-control input-sm form-control-t" asp-for="Code">
                                        </div>
                                    </div>
                                </div>

                                <input type="hidden" asp-for="PortalId" />

                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label class="form-label" asp-for="ClassActive"></label> <span asp-validation-for="ClassActive"></span>
                                        <div class="controls">
                                            <input type="text" class="form-control input-sm form-control-t" asp-for="ClassActive">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-label" asp-for="Template"></label> <span asp-validation-for="Template"></span>
                                <div class="controls">
                                    <textarea class="form-control form-control-t" rows="3" asp-for="Template"></textarea>
                                </div>
                                <div class="help-block">Sử dụng biểu mẫu <strong>[ClassActive] [I] [Note] [Url] [Target] [Name] [Img] [Alt] [For][/For] [ForPage][/ForPage]</strong></div>
                            </div>
                            <div class="pt-10"></div>
                            <div class="form-group">
                                <input type="checkbox" asp-for="Status" class="filled-in chk-col-green" />
                                <label for="Status" asp-for="Status"></label>
                            </div>
                           
                        </form>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne_3">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" href="#collapseOne_3" aria-expanded="true" aria-controls="collapseOne_3">
                            <i class="material-icons">view_list</i> Danh sách hình ảnh
                        </a>
                    </h4>
                </div>
                <div form-static id="collapseOne_3" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne_3">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12 formatControl2">
                                <div>
                                    <a button-static button-static-add asp-action="CreateItem2" asp-route-bannerId="@Model.Id" class="btn btn-icon btn-primary waves-effect"><i class="material-icons">add</i> <span>Thêm hình ảnh</span></a>
                                    <button data-id="@Model.Id" disabled button-update-status data-loading-text="<i class='material-icons icon-spin'>autorenew</i> <span>Cập nhật sắp xếp</span>" data-action="@Url.Action("UpdateOrder",new { id = Model.Id })" type="button" class="btn btn-icon btn-danger waves-effect"><i class="material-icons">system_update_alt</i> <span>Cập nhật sắp xếp</span></button>
                                    <button data-id="@Model.Id" disabled button-cancel-status type="button" class="btn btn-icon btn-default waves-effect"><i class="material-icons">reply</i> <span>Hoàn tác</span></button>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5" loading-tree style="min-height:200px;">
                                <div>
                                    <div id="bindCategory" class="dd nestable-with-handle"></div>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div id="ABC" style="margin-top: 7px;" >
                                    <div form-loading>
                                        <div form-show>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal-footer" style="text-align:center;">
    <button button-delete data-language="@Model.Language" data-action="@Url.Action("Delete", new { id = Model.Id })" data-retur-nurl="@PT.Shared.Functions.FormatReturnUrl(Context.Request.Query["returnurl"], Url.Action("Index"))" data-loading-text="<i class='material-icons icon-spin'>autorenew</i> <span>Xóa</span>" type="button" class="btn btn-icon  btn-p-t  btn-danger waves-effect"><i class="material-icons">delete_forever</i> <span>Xóa</span></button>
    <a button-submit data-language="@Model.Language" data-loading-text="<i class='material-icons icon-spin'>autorenew</i> <span>Lưu thay đổi</span>" class="btn btn-icon bg-indigo waves-effect"><i class="material-icons">save</i> <span>Lưu thay đổi</span></a>
</div>

<script>
    initRickText();
    initData(@Model.Id);
</script>