@model PT.Domain.Model.BaseSearchModel<List<PT.Domain.Model.ServicePrice>>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
    int i = 1;
}
<tr style="display:none !important;">
    <td colspan="999999">
        <input type="hidden" grid-data-page value="@Model.Page" />
        <input type="hidden" grid-data-totalrows value="@Model.TotalRows" />
        <input type="hidden" grid-data-limit value="@Model.Limit" />
    </td>
</tr>
@if (Model.TotalRows == 0)
{
    <tr>
        <td colspan="999">Không tìm thấy bản ghi nào</td>
    </tr>
}
@foreach (var item in Model.Data.Where(x => x.ParentId == 0))
{
    <tr class="tr-status-@(item.Status)">
        <td class="text-center">@PT.Shared.Functions.GenSTT(i, Model.Page)</td>
        <td colspan="2" class="text-name">@item.Name</td>
        <td>@item.Order</td>
        <td>
            <div class="btn-group">
                <div class="btn-group btn- group-sm" role="group">
                    <a button-popup data-target="#myModalBig" asp-action="Edit" asp-route-id="@item.Id" title="Cập nhật" class="btn bg-indigo waves-effect btncontrolgrid"><i class="material-icons iconcontrol">edit</i></a>
                </div>
            </div>
        </td>
    </tr>
    @foreach (var item2 in Model.Data.Where(x => x.ParentId == item.Id))
    {
<tr class="tr-status-@(item2.Status)">
    <td class="text-center"></td>
    @if (item2.SubParent == true)
    {
        <td class="text-danger text-500" colspan="2">@item2.Name</td>
    }
    else
    {
        <td class="text-name">@item2.Name</td>
        <td>
            @if (item2.ContactPrice == true)
            {
                <span class="text-w500 text-warning">Giá liên hệ</span>
            }
            else if (item2.FromPrice == 0 && item2.ToPrice == 0)
            {
                <span class="text-w500 text-info">Miễn phí</span>
            }
            else if (item2.FromPrice > 0 && (item2.ToPrice == 0 || item2.ToPrice == null))
            {
                <span class="text-w500 text-danger">@string.Format("{0:00,0}", item2.FromPrice)</span>
                <span>/</span> @item2.Type
            }
            else if (item2.FromPrice > 0 && item2.ToPrice > 0)
            {
                <span class="text-w500 text-danger">@string.Format("{0:00,0}", item2.FromPrice)</span> <span>đến</span> <span class="text-w500 text-success">@string.Format("{0:00,0}", item2.ToPrice)</span>
                <span>/</span> @item2.Type
            }
        </td>
    }

    <td>@item2.Order</td>
    <td></td>
</tr>
    }
    i++;
}