@model PT.Domain.Model.BaseSearchModel<List<PT.Domain.Model.Image>>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
    int i = 1;
}
<tr style="display:none !important;">
    <td colspan="999999">
        <input type="hidden" grid-data-page value="@Model.Page" />
        <input type="hidden" grid-data-totalrows value="@Model.TotalRows" />
        <input type="hidden" grid-data-limit value="@Model.Limit" />
    </td>
</tr>
@if (Model.TotalRows == 0)
{
    <tr>
        <td colspan="999">Không tìm thấy bản ghi nào</td>
    </tr>
}
@foreach (var item in Model.Data)
{
<tr>
    <td class="text-center">@PT.Shared.Functions.GenSTT(i,Model.Page)</td>
    <td>
        <div class="text-name">@item.Name</div>
        <div class="text-danger">@item.Category?.Name</div>
    </td>
    <td>
        <div class="banner imgfull">
            <div class="image">
                <img  title="Xem chi tiết hình ảnh" onclick="onOpenImg(this)" onerror="this.onerror=null;this.src = '/Content/Admin/images/no-avatar.jpg';" src="@(item.Image1??" ")" />
            </div>
        </div>
    </td>
    <td>
        <div class="banner imgfull">
            <div class="image">
                <img title="Xem chi tiết hình ảnh" onclick="onOpenImg(this)" onerror="this.onerror=null;this.src = '/Content/Admin/images/no-avatar.jpg';" src="@(item.Image2??" ")" />
            </div>
        </div>
    </td>
    <td>
        <div class="btn-group">
            <div class="btn-group btn- group-sm" role="group">
                <a data-acction-type="edit" data-parent="[grid-index-Image]" data-form="[form-edit-grid-Image]" button-edit-grid data-action="@Url.Action("EditImage",new { id = item.Id})" title="Cập nhật" class="btn bg-indigo btncontrolgrid"><i class="material-icons iconcontrol">edit</i></a>
                <a button-delete data-type="DeleteImage" data-action="@Url.Action("DeleteImage",new { id=item.Id})" data-form="[form-edit-grid-Image]" data-loading-text="<i class='material-icons icon-spin iconcontrol'>autorenew</i>" title="Xóa" class="btn btn-danger waves-effect btncontrolgrid"><i class="material-icons iconcontrol">delete_forever</i></a>
            </div>
        </div>
    </td>
</tr>
    i++;
}
