@model PluginFileUploadModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{ 
    int i = 0;
}
<style>
    .btXoaImage {
        background: #ff0000;
        color: #fff;
        cursor: pointer;
        position: absolute;
        padding: 1px 7px;
        font-size: 12px;
    }
</style>
<div style="margin-bottom:5px;" class="text-danger text-w500">Kích thước chuẩn: 1600x1307 hoặc tỉ lệ tương đương 1.224</div>
<div @Model.ParentTagName file-parent data-parent="[@Model.ParentTagName]">
    <div class="form-group">
        <div class="file-upload-t">
            <div class="input-group input-group-t">
                <input multiple this-data-current-files data-current-files="@Model.FileDataString" data-extention="@Model.Extention" data-max-size="@Model.MaxSize" data-form="[form-edit]" data-url="@Model.UrlUpload" file-input type="file" name="dbFile" id="file" class="inputfile hide" />
                <div class="input-group-addon btn-group-addon btn-group-addon-form-group">
                    <button file-button data-tag-parrent="[@Model.ParentTagName]" data-loading-text="<i class='material-icons icon-spin icon-group-loading'>autorenew</i><span>Chọn file</span>" type="button" class="btn btn-info waves-effect mr-5"><i class="material-icons">file_upload</i><span>Chọn file</span></button>
                </div>
                <div class="input-group-addon btn-group-addon btn-group-addon-form-group">
                    <a file-button-cancel onclick="cancleUpload(this)" class="btn btn-default waves-effect hide"><i class="material-icons">reply</i><span>Hủy</span></a>
                </div>
                <div></div>
            </div>
            <div class="process-t" progress-group></div>
        </div>
    </div>
    <input data-input-form type="hidden" value="@Model.FileDataString" name="@Model.InputName">
    <div class="row" data-list-files>
        @if (Model.FileDatas.Count() == 0)
        {
            <div class="col-md-12">
                <span>Không có tệp đính kèm nào được tải lên</span>
            </div>
        }
        @foreach (var item in Model.FileDatas)
        {
            <div class="col-md-3">
                <span class="btXoaImage" onclick="remoteItemFileupload('[@Model.ParentTagName]','@i')">Xóa</span>
               <a title="Xem chi tiết" target="_blank" href="@item.Path"><img src="@item.Path" style="width:100%" /></a> 
            </div>
            i++;
        }
    </div>
</div>
