@model PluginFileUploadModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    
}
<style>
    .GJXF1JNDPSB {
        border: 2px dashed #dcdee3;
        border-radius: 3px;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 145px;
        box-sizing: border-box;
        color: #3bb85d;
        cursor: pointer;
        box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.16), 0 0 5px 0 rgba(0, 0, 0, 0.16);
        position: relative;
        margin-bottom: 25px;
    }

        .GJXF1JNDPSB.fillImage {
            margin-bottom: 17px !important;
        }

        .GJXF1JNDPSB input[type=file] {
            width: 0.1px;
            height: 0.1px;
            opacity: 0;
            overflow: hidden;
            position: absolute;
            z-index: -1;
        }

        .GJXF1JNDPSB:HOVER {
            border-color: #3bb85d;
        }

    .GJXF1JNDLTB {
        flex-grow: 1;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: 50% 50%;
        border-radius: 2px;
        cursor: zoom-in;
}
    .fillImage {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .loader-xxx {
        border: 8px solid #f3f3f3; /* Light grey */
        border-top: 8px solid #3498db; /* Blue */
        border-radius: 50%;
        width: 50px;
        height: 50px;
        animation: spin 2s linear infinite;
    }

@@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
</style>
<div @Model.ParentTagName file-parent data-parent="[@Model.ParentTagName]">
    <div title="Bấm để chọn ảnh từ máy của bạn">
        <div class="GJXF1JNDPSB fillImage" file-image style="background-image: url('@(string.IsNullOrEmpty(Model.FileDataString) ? "/Content/Admin/images/no-avatar.jpg" : Model.FileDataString)')">
            <input this-data-current-files data-current-files="@Model.FileDataString" data-extention="@Model.Extention" data-max-size="@Model.MaxSize" data-form="[form-edit]" data-url="@Model.UrlUpload" file-input-single type="file" name="dbFile" id="file" class="inputfile hide" />
            <div file-button data-tag-parrent="[@Model.ParentTagName]" style="position:absolute;top:0;right:0;bottom:0;left:0;">
            </div>
            <div data-add style="font-size: 70px;">
                +
            </div>
            <div data-dang-tai style="font-size: 70px;display:none;"><div class="loader-xxx"></div></div>
        </div>
    </div>
    <input data-input-form type="hidden" value="@Model.FileDataString" name="@Model.InputName">
    <div style="display:none;">
        <div class="process-t" progress-group></div>
    </div>
</div>

<div class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
</div>