@model Tuple<HomeModel, Link>
@inject Microsoft.Extensions.Options.IOptions<BaseSettings> _baseSettings;
@using Microsoft.AspNetCore.Mvc;
@{
    var ModelHome = Model.Item1;
    var linkData = Model.Item2;
    string robots = "";
    if (linkData.MetaRobotsIndex != null)
    {
        robots += linkData.MetaRobotsIndex;
    }
    if (linkData.MetaRobotsFollow != null)
    {
        robots += "," + linkData.MetaRobotsFollow;
    }
    if (linkData.MetaRobotsAdvance != null)
    {
        robots += "," + linkData.MetaRobotsAdvance;
    }
}
<title>@(Html.Raw((linkData.Title ?? ModelHome.SeoSettings.Title) ?? PT.Shared.Functions.SubStringTitle(linkData.Name, 150)))</title>

<meta name="description" content="@(Html.Raw(linkData.Description ?? ModelHome.SeoSettings.Description))" />
<meta name="keywords" content="@(Html.Raw(linkData.Title ?? PT.Shared.Functions.SubStringTitle(linkData.Name,150)))" />

<meta property="og:url" content="https://@Context.Request.Host@Context.Request.Path" />
<meta property="og:type" content="website" />

<meta property="og:title" content="@(Html.Raw(linkData.Title ?? PT.Shared.Functions.SubStringTitle(linkData.Name,150)))" />
<meta property="og:description" content="@(Html.Raw(string.IsNullOrEmpty(linkData.FacebookDescription)? (linkData.Description ??  PT.Shared.Functions.SubStringTitle(linkData.Name,150)) : linkData.FacebookDescription))" />

<meta property="og:image" content="https://@ModelHome.Domain@(string.IsNullOrEmpty(linkData.FacebookBanner)?ModelHome.WebsiteInfoSettings.Logo:linkData.FacebookBanner)" />

<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="website" />

<meta name="twitter:title" content="@(Html.Raw(linkData.Title  ?? PT.Shared.Functions.SubStringTitle(linkData.Name,150)))" />
<meta name="twitter:description" content="@(Html.Raw(linkData.Description  ?? PT.Shared.Functions.SubStringTitle(linkData.Name,150)))" />

<meta name="twitter:image" content="http://@ModelHome.Domain@(string.IsNullOrEmpty(linkData.FacebookBanner)?ModelHome.WebsiteInfoSettings.Logo:linkData.FacebookBanner)" />

<meta name="google-site-verification" content="@ModelHome.SeoSettings.MetaGoogle" />
<link rel="canonical" href="https://@Context.Request.Host@Context.Request.Path" />
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
@if (ViewData["linkNext"] != null)
{
    <link rel="next" href="https://@Context.Request.Host@Html.Raw(ViewData["linkNext"])" />
}
@if (ViewData["linkPrev"] != null)
{
    <link rel="prev" href="https://@Context.Request.Host@Html.Raw(ViewData["linkPrev"])" />
}
@* 
@if (!Context.Request.Host.ToString().Contains(_baseSettings.Value.RootDomin))
{
    <meta name="robots" content="noindex,follow">
}
else
{
    <meta name="robots" content="@robots">
} *@
    <meta name="robots" content="@robots">
