@model Tuple<List<LinkReference>, string, string, bool>
@inject Microsoft.Extensions.Options.IOptions<BaseSettings> _baseSettings;

@if (_baseSettings.Value.MultipleLanguage)
{
    @foreach (var item in PT.Shared.ListData.ListLanguage)
    {
        if (Model.Item1 != null)
        {
            var dl = Model.Item1.FirstOrDefault(x => x.Language == item.Id);

            if (item.Id == Model.Item2)
            {
                <td style="width:80px;">
                    <span class="label label-info"><i class="material-icons icon-label">check</i> @item.Name</span>
                </td>
            }
            else if (dl == null || (dl != null && dl.Link2 == null))
            {
                <td style="width:80px;">

                    <span class="label  label-default"><i class="material-icons icon-label">block</i> @item.Name</span>
                </td>
            }
            else if (dl != null && dl.Link2 != null && dl.Link2?.Delete == false)
            {
                string url = Model.Item4 ? Model.Item3.Replace("%23Id%23", dl.LinkId2.ToString()) : Model.Item3.Replace("%23Id%23", dl.Link2?.ObjectId.ToString());
                <td style="width:80px;">
                    <a button-popup data-target="#myModalBig" href="@url" title="Cập nhật" class="link-edit-ngon-ngu">
                        <span class="label  @(dl==null?"label-default":"label-success")"><i class="material-icons icon-label">@(dl == null ? "block" : "check")</i> @item.Name</span>
                    </a>
                </td>
            }
            else
            {
                <td style="width:80px;">
                    <span class="label  label-default"><i class="material-icons icon-label">block</i>@item.Name</span>
                </td>
            }
        }
    }
}

