@model PT.Domain.Model.LinkReferenceBaseModel
@inject Microsoft.Extensions.Options.IOptions<BaseSettings> _baseSettings;
@inject ILinkReferenceRepository _iLinkReferenceRepository;
@if (_baseSettings.Value.MultipleLanguage)
{
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne_99">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" href="#collapseOne_99" aria-expanded="true" aria-controls="collapseOne_99">
                    <i class="material-icons">public</i> Ánh xạ ngôn ngữ
                </a>
            </h4>
        </div>
        <div id="collapseOne_99" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne_99">
            <div class="p-10">
                @{

                    var selectListLinkVi = new List<SelectListItem>();
                    var selectListLinkEn = new List<SelectListItem>();
                    // var selectListLinkIt = new List<SelectListItem>();

                    var listReference = await _iLinkReferenceRepository.SearchByLink(Model.LinkId);
                    var objectVi = listReference.FirstOrDefault(x => x.Language == "vi");
                    var objectEn = listReference.FirstOrDefault(x => x.Language == "en");
                    // var objectIt = listReference.FirstOrDefault(x => x.Language == "it");


                    if (objectVi != null && Model.Language!="vi")
                    {
                        selectListLinkVi.Add(new SelectListItem { Value = objectVi.Id.ToString(), Text = objectVi.Name });
                        Model.ReferenceLinkIdVI = objectVi.Id;
                    }
                    else
                    {
                        Model.ReferenceLinkIdVI = 0;
                    }

                    if (objectEn != null && Model.Language!="en")
                    {
                        selectListLinkEn.Add(new SelectListItem { Value = objectEn.Id.ToString(), Text = objectEn.Name, Selected = true });
                        Model.ReferenceLinkIdEN = objectEn.Id;
                    }
                    else
                    {
                        Model.ReferenceLinkIdEN = 0;
                    }
                }
                <table class="table  table-bordered table-t" style="border: 1px solid #ddd;">
                    <thead>
                        <tr>
                            <th style="width:130px;">Ngôn ngữ</th>
                            <th>Tên trang</th>
                            <th style="width:230px;">Hành động</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Language != "vi")
                        {
                            <tr>
                                <td>Phiên bản Tiếng Việt</td>
                                <td>
                                    <select data-size="5" data-live-search="true" asp-items="@selectListLinkVi" data-action="@Url.Action("SearchLink", "Functions", new { area = "Base" })" asp-for="ReferenceLinkIdVI" class="input-sm form-control-t show-tick  with-ajax">
                                        <option selected value="0">Chọn bài viết phiên bản Tiếng Việt Nam</option>
                                    </select>
                                </td>
                                <td>
                                    <div class="form-group" style="margin-top:10px;">
                                        <input type="checkbox" asp-for="IsAutoVI" class="filled-in chk-col-green" />
                                        <label for="IsAutoVI" asp-for="IsAutoVI"></label>
                                    </div>
                                </td>
                            </tr>
                        }
                        @if (Model.Language != "en")
                        {
                            <tr>
                                <td>Phiên bản Tiếng Anh</td>
                                <td>
                                    <select data-size="5" data-live-search="true" asp-items="@selectListLinkEn" data-action="@Url.Action("SearchLink", "Functions", new { area = "Base" })" asp-for="ReferenceLinkIdEN" class="input-sm form-control-t show-tick  with-ajax">
                                        <option selected value="0">Chọn bài viết phiên bản Tiếng Anh </option>
                                    </select>
                                </td>
                                <td>
                                    <div class="form-group" style="margin-top:10px;">
                                        <input type="checkbox" asp-for="IsAutoEn" class="filled-in chk-col-green" />
                                        <label for="IsAutoEn" asp-for="IsAutoEn"></label>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <span class="note-info">Chú ý: Khi chọn tự động ánh xạ với ngôn ngữ tương ứng thì các trang sẽ được tự động ánh xạ qua lại với nhau, dẫn đến ta không cần phải vào trang ngôn ngữ khác để chọn lại, checkbox này chỉ có tác dụng là xác nhận hành động không phải là giá trị cấu hình lưu trữ.</span>
                <script>

                    $("#ReferenceLinkIdVI").toSelectAutocomplete({}, function ($data) {
                        $data.language = "vi";
                        $data.type = "@Model.Type";
                        return $data;
                    });

                    $("#ReferenceLinkIdEN").toSelectAutocomplete({}, function ($data) {
                        $data.language = "en";
                         $data.type = "@Model.Type";
                        return $data;
                    });

                    // $("#ReferenceLinkIdIT").toSelectAutocomplete({}, function ($data) {
                    //     $data.language = "it";
                    //     $data.type = "@Model.Type";
                    //     return $data;
                    // });
                </script>
            </div>
        </div>
    </div>
}
