@model PT.Domain.Model.ContactModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}
<style>
    .tt-menu {
        z-index: 999999;
    }
</style>
<form form-edit asp-action="Edit">
    @Html.AntiForgeryToken()
    <input type="hidden" asp-for="Id" />
    <div class="sumaryValidateForm" asp-validation-summary="All"></div>
    <div class="modal-header">
        <h4 class="modal-title"><i class="material-icons">edit</i> CHI TIẾ LIÊN HỆ</h4>
    </div>
    <button onclick="reGetDataGrid()" title="Đóng cửa sổ" type="button" class="close btnclose-t" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <div class="modal-body">
        <div class="divmodal">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="form-label" asp-for="FullName"></label>
                        <div class="form-control-static-t">
                            @Model.FullName
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="form-label" asp-for="Email"></label>
                        <div class="form-control-static-t">
                            @Model.Email
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="form-label" asp-for="Phone"></label>
                        <div class="form-control-static-t">
                            @Model.Phone
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="form-label" asp-for="CreatedDate"></label>
                        <div class="form-control-static-t">
                            @Model.CreatedDate.ToStringDateTime()
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="form-label" asp-for="Content"></label> <span asp-validation-for="Content"></span>
                <div class="form-control-static-t">
                    @Html.Raw(Model.Content.Replace("<script>", ""))
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer" style="text-align:center;">
        <a onclick="reGetDataGrid()" class="btn btn-icon btn-default waves-effect" data-dismiss="modal"><i class="material-icons">reply</i><span>Đóng</span></a>
        <button button-delete data-action="@Url.Action("Delete",new { id=Model.Id})" data-retur-nurl="@PT.Shared.Functions.FormatReturnUrl(Context.Request.Query["returnurl"], Url.Action("Index"))" data-loading-text="<i class='material-icons icon-spin'>autorenew</i> <span>Xóa</span>" type="button" class="btn btn-icon  btn-p-t  btn-danger waves-effect"><i class="material-icons">delete_forever</i> <span>Xóa</span></button>
    </div>
</form>
