@model PT.Domain.Model.BaseSearchModel<List<PT.Domain.Model.Contact>>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
    int i = 1;
}
<tr style="display:none !important;">
    <td colspan="999999">
        <input type="hidden" grid-data-page value="@Model.Page" />
        <input type="hidden" grid-data-totalrows value="@Model.TotalRows" />
        <input type="hidden" grid-data-limit value="@Model.Limit" />
    </td>
</tr>
@if (Model.TotalRows == 0)
{
    <tr>
        <td colspan="999">Không tìm thấy bản ghi nào</td>
    </tr>
}
@foreach (var item in Model.Data)
{
    @*<tr class="tr-status-@(item.Status) @(item.Status==false?"chuaDoc":"daDoc")">*@
    <tr>
        <td><span class="text-primary text-name">@item.FullName</span></td>
        <td>@item.Phone</td>
        <td>@item.Email</td>
        <td>@item.Content</td>
        <td>@item.CreatedDate.ToStringDateTime()</td>
        <td>
            @if (item.Status)
            {
                <span class="label label-success">Đã xem</span>
            }
            else
            {
                <span class="label label-danger">Chưa xem</span>
            }
        </td>
    </tr>
    i++;
}