@model PT.Domain.Model.BaseSearchModel<List<PT.Domain.Model.TourDay>>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
    int i = 1;
}
<tr style="display:none !important;">
    <td colspan="999999">
        <input type="hidden" grid-data-page value="@Model.Page" />
        <input type="hidden" grid-data-totalrows value="@Model.TotalRows" />
        <input type="hidden" grid-data-limit value="@Model.Limit" />
    </td>
</tr>
@if (Model.TotalRows == 0)
{
    <tr>
        <td colspan="999">Không tìm thấy bản ghi nào</td>
    </tr>
}
@foreach (var item in Model.Data)
{
<tr>
    <td class="text-center">@PT.Shared.Functions.GenSTT(i,Model.Page)</td>
    <td>
        <div class="text-name">@item.Day</div>
    </td>
    <td>
        <div>
            <strong class="text-danger">@item.Name</strong>
        </div>
        <div style="padding-bottom:10px;">@Html.Raw(item.Details)</div>
        <div style="padding-bottom:10px;">
            <div class="row">
                @{ 
                    var listImages = new List<PT.Domain.Model.FileDataModel>();
                    if(item.Photos!=null)
                    {
                        listImages =  Newtonsoft.Json.JsonConvert.DeserializeObject<List<PT.Domain.Model.FileDataModel>>(item.Photos);
                    }
                }
                @foreach (var img in listImages)
                {
                    <div class="col-md-3">
                        <a title="Xem chi tiết" target="_blank" href="@img.Path"><img src="@img.Path" style="width:100%" /></a>
                    </div>
                }
            </div>
        </div>
        <div>
            @if (item.IsCar)
            {
                <div style="display:inline-block;margin-right:10px;margin-bottom:5px;">
                    <input type="checkbox" checked id="IsCar_@item.Id" disabled class="filled-in chk-col-green" />
                    <label for="IsCar_@item.Id">Đi xe ô tô</label>
                </div>
            }

            @if (item.IsCycling)
            {
                <div style="display:inline-block;margin-right:10px;margin-bottom:5px;">
                    <input type="checkbox" checked id="IsCycling_@item.Id" disabled class="filled-in chk-col-green" />
                    <label for="IsCycling_@item.Id">Đạp xe</label>
                </div>
            }


            @if (item.IsCruising)
            {
                <div style="display:inline-block;margin-right:10px;margin-bottom:5px;">
                    <input type="checkbox" checked id="IsCruising_@item.Id" disabled class="filled-in chk-col-green" />
                    <label for="IsCruising_@item.Id">Du thuyền</label>
                </div>
            }

            @if (item.IsFlight)
            {
                <div style="display:inline-block;margin-right:10px;margin-bottom:5px;">
                    <input type="checkbox" checked id="IsFlight_@item.Id" disabled class="filled-in chk-col-green" />
                    <label for="IsFlight_@item.Id">Máy bay</label>
                </div>
            }

            @if (item.IsLocalBoat)
            {
                <div style="display:inline-block;margin-right:10px;margin-bottom:5px;">
                    <input type="checkbox" checked id="IsLocalBoat_@item.Id" disabled class="filled-in chk-col-green" />
                    <label for="IsLocalBoat_@item.Id">Đi thuyền</label>
                </div>
            }

            @if (item.IsLocalTouch)
            {
                <div style="display:inline-block;margin-right:10px;margin-bottom:5px;">
                    <input type="checkbox" checked id="IsLocalTouch_@item.Id" disabled class="filled-in chk-col-green" />
                    <label for="IsLocalTouch_@item.Id">Đi bộ</label>
                </div>
            }

            @if (item.IsHotel)
            {
                <div style="display:inline-block;margin-right:10px;margin-bottom:5px;">
                    <input type="checkbox" checked id="IsHotel_@item.Id" disabled class="filled-in chk-col-green" />
                    <label for="IsHotel_@item.Id">Khách sạn</label>
                </div>
            }
        </div>
    </td>
    <td>
        <div class="btn-group">
            <div class="btn-group btn- group-sm" role="group">
                <a data-acction-type="edit" data-parent="[grid-index-Image]" data-form="[form-edit-grid-Image]" button-edit-grid data-action="@Url.Action("EditTourDay",new { id = item.Id})" title="Cập nhật" class="btn bg-indigo btncontrolgrid"><i class="material-icons iconcontrol">edit</i></a>
                <a button-delete data-type="DeleteTourDay" data-action="@Url.Action("DeleteTourDay",new { id=item.Id})" data-form="[form-edit-grid-Image]" data-loading-text="<i class='material-icons icon-spin iconcontrol'>autorenew</i>" title="Xóa" class="btn btn-danger waves-effect btncontrolgrid"><i class="material-icons iconcontrol">delete_forever</i></a>
            </div>
        </div>
    </td>
</tr>
i++;
}
