@model PT.Domain.Model.WebsiteInfoSettings
@addTagHelper *, Sakura.AspNetCore.Mvc.PagedList
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, PT.UI
@inject Microsoft.Extensions.Options.IOptions<PT.Domain.Model.BaseSettings> _baseSettings;

@{
    Layout = null;
    var listLan = PT.Shared.ListData.ListLanguage;

    if (!_baseSettings.Value.MultipleLanguage)
    {
        listLan = listLan.Where(x => x.Id == PT.Base.CultureHelper.GetCurrentCulture.Id).ToList();
    }
}
<style>
    .tab-content-t {
        padding-top: 5px !important;
    }
</style>
<form form-edit asp-action="Info">
    <div style="margin-bottom:10px;">
        <input grid-input type="hidden" name="language" value="@(Model.Id== null ?"vi":Model.Id)" />
        <ul class="nav nav-tabs nav-tabs-right nav-tabs-t tab-lang" role="tablist">
            @foreach (var item in listLan)
            {
                <li role="presentation" class="@(Model.Id == null ? (item.Id=="vi"?"active":"") : (item.Id==Model.Id?"active":""))">
                    <a tab-link data-tag="#info" data-not-active="true" data-url="@Url.Action("Info",new { language = item.Id })" data-toggle="tab">
                        <img class="icon-lang" src="@item.Icon" />  @item.Name
                    </a>
                </li>
            }
        </ul>
    </div>
    @Html.AntiForgeryToken()
    <div role="tabpanel" class="tab-pane fade in active" id="Info">
        <input type="hidden" asp-for="Id" />
        <div class="row">
            <div class="col-md-2">
                <div class="labelinfo-t bg-info mb-10">
                    LOGO
                </div>
                <div>
                    <div class="thumbnail imgfull avatar m-b-10" file-loadding>
                        <div class="image">
                            <img file-image id="imgBanner" src="@(Model.Logo==null?"":Model.Logo)" alt="avatar" onerror="this.onerror=null;this.src = '/Content/Admin/images/no-avatar.jpg';" class="img-responsive">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group input-group-t">
                            <input type="text" class="form-control input-sm form-control-t" asp-for="Logo">
                            <div class="input-group-addon btn-group-addon btn-group-addon-form-group">
                                <a button-open-file-manager data-img="imgBanner" data-target="Logo" class="btn btn-icon btn-danger waves-effect"><i class="material-icons">attach_file</i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-10">
                <div class="labelinfo-t bg-info mb-10">
                    THÔNG TIN CHUNG
                </div>
                <div class="row">
                    <div class="col-md-6 mb-0">
                        <div class="form-group">
                            <label class="form-label" asp-for="Name"></label> <strong class="text-danger">*</strong> <span asp-validation-for="Name"></span>
                            <div class="controls">
                                <input type="text" class="form-control input-sm form-control-t" placeholder="" asp-for="Name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-label" asp-for="Address"></label> <strong class="text-danger">*</strong> <span asp-validation-for="Address"></span>
                            <div class="controls">
                                <input type="text" class="form-control input-sm form-control-t" placeholder="" asp-for="Address">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-label" asp-for="Address2"></label> <strong class="text-danger">*</strong> <span asp-validation-for="Address2"></span>
                            <div class="controls">
                                <input type="text" class="form-control input-sm form-control-t" placeholder="" asp-for="Address2">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-label" asp-for="Address3"></label> <strong class="text-danger">*</strong> <span asp-validation-for="Address3"></span>
                            <div class="controls">
                                <input type="text" class="form-control input-sm form-control-t" placeholder="" asp-for="Address3">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4" style="margin-bottom:0;">
                                <div class="form-group">
                                    <label class="form-label" asp-for="Phone"></label> <span asp-validation-for="Phone"></span>
                                    <div class="controls">
                                        <input type="text" class="form-control input-sm form-control-t" placeholder="" asp-for="Phone">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4" style="margin-bottom:0;">
                                <div class="form-group">
                                    <label class="form-label" asp-for="Phone2"></label> <span asp-validation-for="Phone2"></span>
                                    <div class="controls">
                                        <input type="text" class="form-control input-sm form-control-t" placeholder="" asp-for="Phone2">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4" style="margin-bottom:0;">
                                <div class="form-group">
                                    <label class="form-label" asp-for="Phone3"></label> <span asp-validation-for="Phone3"></span>
                                    <div class="controls">
                                        <input type="text" class="form-control input-sm form-control-t" placeholder="" asp-for="Phone3">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4" style="margin-bottom:0;">
                                <div class="form-group">
                                    <label class="form-label" asp-for="Hotline"></label> <span asp-validation-for="Hotline"></span>
                                    <div class="controls">
                                        <input type="text" class="form-control input-sm form-control-t" placeholder="" asp-for="Hotline">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4" style="margin-bottom:0;">
                                <div class="form-group">
                                    <label class="form-label" asp-for="Hotline2"></label> <span asp-validation-for="Hotline2"></span>
                                    <div class="controls">
                                        <input type="text" class="form-control input-sm form-control-t" placeholder="" asp-for="Hotline2">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4" style="margin-bottom:0;">
                                <div class="form-group">
                                    <label class="form-label" asp-for="Hotline3"></label> <span asp-validation-for="Hotline3"></span>
                                    <div class="controls">
                                        <input type="text" class="form-control input-sm form-control-t" placeholder="" asp-for="Hotline3">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-md-4" style="margin-bottom:0;">
                                <div class="form-group">
                                    <label class="form-label" asp-for="Email"></label> <span asp-validation-for="Email"></span>
                                    <div class="controls">
                                        <input type="text" class="form-control input-sm form-control-t" placeholder="" asp-for="Email">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4" style="margin-bottom:0;">
                                <div class="form-group">
                                    <label class="form-label" asp-for="Email2"></label> <span asp-validation-for="Email2"></span>
                                    <div class="controls">
                                        <input type="text" class="form-control input-sm form-control-t" placeholder="" asp-for="Email2">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4" style="margin-bottom:0;">
                                <div class="form-group">
                                    <label class="form-label" asp-for="Email3"></label> <span asp-validation-for="Email3"></span>
                                    <div class="controls">
                                        <input type="text" class="form-control input-sm form-control-t" placeholder="" asp-for="Email3">
                                    </div>
                                </div>
                            </div>
                        </div>
                       
                        <div class="form-group">
                            <label class="form-label" asp-for="Website"></label> <span asp-validation-for="Website"></span>
                            <div class="controls">
                                <input type="text" class="form-control input-sm form-control-t" placeholder="" asp-for="Website">
                            </div>
                        </div>
                       
                        <div class="form-group">
                            <label class="form-label" asp-for="Fax"></label> <span asp-validation-for="Fax"></span>
                            <div class="controls">
                                <input type="text" class="form-control input-sm form-control-t" placeholder="" asp-for="Fax">
                            </div>
                        </div>
                        
                    </div>
                    <div class="col-md-6 mb-0">
                        <div class="form-group">
                            <label class="form-label" asp-for="Note"></label> <span asp-validation-for="Note"></span>
                            <div class="controls">
                                <textarea type="text" rows="4" class="form-control input-sm form-control-t" placeholder="" asp-for="Note"></textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="form-label" asp-for="Video"></label> <span asp-validation-for="Video"></span>
                            <div class="controls">
                                <textarea type="text" rows="3" class="form-control input-sm form-control-t" placeholder="" asp-for="Video"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-label" asp-for="Map"></label> <span asp-validation-for="Map"></span>
                            <div class="controls">
                                <textarea type="text" rows="3" class="form-control input-sm form-control-t" placeholder="" asp-for="Map"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-md-12 mb-0">
                        <div class="divbtnform">
                            <button button-submit data-type="info" data-loading-text="<i class='material-icons icon-spin'>autorenew</i> <span>Lưu thay đổi</span>" type="button" class="btn  btn-p-t  btn-icon bg-indigo waves-effect"><i class="material-icons">save</i> <span>Lưu thay đổi</span></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</form>
<script>
    initRickTextInfo();
</script>

