@model PT.Domain.Model.Tour
@addTagHelper *, PT.UI
@using Microsoft.AspNetCore.Mvc.Localization;
@using PT.Shared;
@inject IViewLocalizer Localizer
@inject ICategoryRepository _iCategoryRepository;
@inject IContentPageReferenceRepository _iContentPageReferenceRepository;
@inject Microsoft.Extensions.Options.IOptions<List<WebsiteInfoSettings>> websiteInfoSettings
@{
    Layout = "~/Views/Shared/_Home.cshtml";
    string language = PT.Base.CultureHelper.GetCurrentCulture.Id;
    var websiteInfoSetting = websiteInfoSettings.Value.FirstOrDefault(x => x.Id == language) ?? new WebsiteInfoSettings();
    var photos = new List<FileDataModel>();
  
    if (!string.IsNullOrEmpty(Model.Photos))
    {
        try
        {
            photos = Newtonsoft.Json.JsonConvert.DeserializeObject<List<FileDataModel>>(Model.Photos);
        }
        catch { }
    }
}

<div class="search-overlay">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="search-overlay-layer"></div>
            <div class="search-overlay-layer"></div>
            <div class="search-overlay-layer"></div>
            <div class="search-overlay-close">
                <span class="search-overlay-close-line"></span>
                <span class="search-overlay-close-line"></span>
            </div>
            <div class="search-overlay-form">
                <form>
                    <input type="text" class="input-search" placeholder="Search here...">
                    <button type="button"><i class="fas fa-search"></i></button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Common Banner Area -->
<section id="common_banner">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="common_bannner_text">
                    <h2>The New Way Tours</h2>
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><span><i class="fas fa-circle"></i></span> Tours Details</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Tour Search Areas -->
<section id="tour_details_main" class="section_padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="tour_details_leftside_wrapper">
                    <div class="tour_details_heading_wrapper">
                        <div class="tour_details_top_heading">
                            <h2>@Model.Name</h2>
                        </div>
                        <div class="tour_details_top_heading_right">
                            <h4>Excellent</h4>
                            <h6>4.8/5</h6>
                            <p>(@(1214 + Model.Id) reviewes)</p>
                        </div>
                    </div>
                    @if(Model.Style == TourStyle.Car)
                    {
                        <div class="tour_details_top_bottom">
                            <div class="toru_details_top_bottom_item">
                                <div class="tour_details_top_bottom_icon">
                                    <i class="bi bi-wifi"></i>
                                </div>
                                <div class="tour_details_top_bottom_text">
                                    <h5>Wifi</h5>
                                    <p>Yes</p>
                                </div>
                            </div>
                            <div class="toru_details_top_bottom_item">
                                <div class="tour_details_top_bottom_icon">
                                    <i class="bi bi-currency-exchange"></i>
                                </div>
                                <div class="tour_details_top_bottom_text">
                                    <h5>Cancellation possible</h5>
                                    <p>Yes</p>
                                </div>
                            </div>
                            <div class="toru_details_top_bottom_item">
                                <div class="tour_details_top_bottom_icon">
                                    <i class="fas fa-users"></i>
                                </div>
                                <div class="tour_details_top_bottom_text">
                                    <h5>Price / Person</h5>
                                    <p>Yes</p>
                                </div>
                            </div>
                            <div class="toru_details_top_bottom_item">
                                <div class="tour_details_top_bottom_icon">
                                    <i class="bi bi-snow2"></i>
                                </div>
                                <div class="tour_details_top_bottom_text">
                                    <h5>Aircondition</h5>
                                    <p>Yes</p>
                                </div>
                            </div>
                        </div>
                    }
                    else if(Model.Style == TourStyle.Tour)
                    {
                        <div class="tour_details_top_bottom">
                            <div class="toru_details_top_bottom_item">
                                <div class="tour_details_top_bottom_icon">
                                    <i class="fas fa-clock"></i>
                                </div>
                                <div class="tour_details_top_bottom_text">
                                    <h5>Duration</h5>
                                    <p>@Model.Days days</p>
                                </div>
                            </div>
                            <div class="toru_details_top_bottom_item">
                                <div class="tour_details_top_bottom_icon">
                                    <i class="fas fa-paw"></i>
                                </div>
                                <div class="tour_details_top_bottom_text">
                                    <h5>Tour type</h5>
                                    <p>Tour</p>
                                </div>
                            </div>
                            <div class="toru_details_top_bottom_item">
                                <div class="tour_details_top_bottom_icon">
                                    <i class="fas fa-users"></i>
                                </div>
                                <div class="tour_details_top_bottom_text">
                                    <h5>Group size</h5>
                                    <p>--</p>
                                </div>
                            </div>
                            <div class="toru_details_top_bottom_item">
                                <div class="tour_details_top_bottom_icon">
                                    <i class="fas fa-map-marked"></i>
                                </div>
                                <div class="tour_details_top_bottom_text">
                                    <h5>Location</h5>
                                    <p>@Model.Address</p>
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="tour_details_top_bottom">
                            <div class="toru_details_top_bottom_item">
                                <div class="tour_details_top_bottom_icon">
                                    <i class="bi bi-wifi"></i>
                                </div>
                                <div class="tour_details_top_bottom_text">
                                    <h5>Wifi</h5>
                                    <p>Yes</p>
                                </div>
                            </div>
                            <div class="toru_details_top_bottom_item">
                                <div class="tour_details_top_bottom_icon">
                                    <i class="bi bi-currency-exchange"></i>
                                </div>
                                <div class="tour_details_top_bottom_text">
                                    <h5>Cancellation possible</h5>
                                    <p>Yes</p>
                                </div>
                            </div>
                            <div class="toru_details_top_bottom_item">
                                <div class="tour_details_top_bottom_icon">
                                    <i class="fas fa-users"></i>
                                </div>
                                <div class="tour_details_top_bottom_text">
                                    <h5>Price / Person</h5>
                                    <p>Yes</p>
                                </div>
                            </div>
                            <div class="toru_details_top_bottom_item">
                                <div class="tour_details_top_bottom_icon">
                                    <i class="bi bi-snow2"></i>
                                </div>
                                <div class="tour_details_top_bottom_text">
                                    <h5>Aircondition</h5>
                                    <p>Yes</p>
                                </div>
                            </div>
                        </div>
                    }

                    @if (photos.Any())
                    {
                        <div class="tour_details_img_wrapper">
                            <div class="slider slider-for">
                                @foreach (var item in photos)
                                {
                                    <div>
                                        <img style="width:100%; " src="@item.Path" alt="@item.FileName">
                                    </div>
                                }
                            </div>
                            <div class="slider slider-nav">
                                @foreach (var item in photos)
                                {
                                    <div>
                                        <img src="@item.Path" alt="@item.FileName">
                                    </div>
                                }
                            </div>
                        </div>
                    }

                    <div class="tour_details_boxed" style="margin-bottom:30px;">
                        <h3 class="heading_theme">Overview</h3>
                        <div class="tour_details_boxed_inner">
                            @Html.Raw(Model.Overview)
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-lg-4">
                <div class="tour_details_right_sidebar_wrapper">
                 

                    <div class="tour_detail_right_sidebar">
                        <div class="tour_details_right_boxed">
                            <div class="tour_details_right_box_heading">
                                <h3>Ticket information</h3>
                            </div>
                            @if (Model.Style == TourStyle.Car || Model.Style == TourStyle.Tour)
                            {
                                <div class="edit_date_form">
                                    <div class="form-group">
                                        <label for="dates" style="font-weight:500;">Pick Date</label>
                                        <input type="date" min="@DateTime.Now.ToString("yyyy-MM-dd")" value="@DateTime.Now.ToString("yyyy-MM-dd")" class="form-control" id="startDate">
                                    </div>
                                </div>
                                @if (Model.Style == TourStyle.Car)
                                {
                                    <div class="edit_date_form">
                                        <label for="datesX" style="font-weight:500;">Pick Up</label>
                                        <select id="pickUp" class="form-control">
                                            @foreach (var item in Model.PickUp?.Split(";"))
                                            {
                                                <option value="@item">@item</option>
                                            }
                                        </select>
                                    </div>
                                }
                            }
                            else
                            {
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="edit_date_form">
                                            <div class="form-group">
                                                <label for="dates" style="font-weight:500;">Check In Date</label>
                                                <input type="date" onchange="changPrice()" min="@DateTime.Now.ToString("yyyy-MM-dd")" value="@DateTime.Now.ToString("yyyy-MM-dd")" class="form-control" id="startDate">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="edit_date_form">
                                            <div class="form-group">
                                                <label for="dates" style="font-weight:500;">Check Out Date</label>
                                                <input type="date" onchange="changPrice()" min="@DateTime.Now.AddDays(1).ToString("yyyy-MM-dd")" value="@DateTime.Now.AddDays(1).ToString("yyyy-MM-dd")" class="form-control" id="endDate">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                
                            }
                            <div class="tour_package_details_bar_list">

                                @if(Model.Style == TourStyle.Car)
                                {
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="select_person_item" style="padding-top:0px;">
                                                <div class="select_person_left">
                                                    <h6>Trips</h6>
                                                    <p>@Model.From - @Model.To</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                                else if (Model.Style == TourStyle.Tour)
                                {
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="select_person_item" style="padding-top:0px;">
                                                <div class="select_person_left">
                                                    <h6>Address</h6>
                                                    <p>@Model.Address</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }

                                @if (Model.Style == TourStyle.Car || Model.Style == TourStyle.Tour)
                                {
                                    <div class="select_person_item">
                                        <div class="select_person_left">
                                            <h6>Adult</h6>
                                            <p>12y+ ($ @(Model.AdultPrice) /Per serson)</p>
                                        </div>
                                        <div class="select_person_right">
                                            <h6><input style="width: 50px;" min="0" step="1" data-price="@Model.AdultPrice" onchange="changPrice()" id="AdultPrice" type="number" value="1" /></h6>
                                        </div>
                                    </div>

                                    <div class="select_person_item">
                                        <div class="select_person_left">
                                            <h6>Children</h6>
                                            <p>2 - 12 years ($ @(Model.ChildrenPrice) /Per serson)</p>
                                        </div>
                                        <div class="select_person_right">
                                            <h6><input style="width: 50px;" min="0" step="1" data-price="@Model.ChildrenPrice" onchange="changPrice()" id="ChildrenPrice" type="number" value="0" /></h6>
                                        </div>
                                    </div>

                                    <div class="select_person_item">
                                        <div class="select_person_left">
                                            <h6>Infant</h6>
                                            <p>Below 2 years ($ @(Model.InfantPrice) /Per serson)</p>
                                        </div>
                                        <div class="select_person_right">
                                            <h6><input style="width: 50px;" min="0" step="1" data-price="@Model.InfantPrice" onchange="changPrice()" id="InfantPrice" type="number" value="0" /></h6>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div class="select_person_item">
                                        <div class="select_person_left">
                                            <h6>Number Nights</h6>
                                            <p></p>
                                        </div>
                                        <div class="select_person_right">
                                            <h6 id="nights">1</h6>
                                        </div>
                                    </div>

                                    <div class="select_person_item">
                                        <div class="select_person_left">
                                            <h6>Rooms</h6>
                                            <p>($ @(Model.AdultPrice) /Per room/Per day)</p>
                                        </div>
                                        <div class="select_person_right">
                                            <h6><input style="width: 50px;" min="0" step="1" data-price="@Model.AdultPrice" onchange="changPrice()" id="AdultPrice" type="number" value="1" /></h6>
                                        </div>
                                    </div>
                                }

                                <div class="total_subtotal_booking">
                                    <h6>Total Amount <span id="totalPrice">$ 0.00</span> </h6>
                                </div>
                            </div>
                        
                        </div>
                      
                    </div>

                    <div class="tour_detail_right_sidebar">
                        <div class="tour_details_right_boxed">
                            <div class="tour_details_right_box_heading">
                                <h3>Customer information</h3>
                            </div>

                            <div class="tour_package_details_bar_list">

                                <div class="form-group mb-3">
                                    <input required type="text" id="fullName" class="form-control bg_input" placeholder="First name* (Optional)">
                                </div>

                                <div class="form-group mb-3">
                                    <input required type="text" id="email" class="form-control bg_input" placeholder="Email address* (Optional)">
                                </div>

                                <div class="form-group mb-3">
                                    <input required type="text" id="phone" class="form-control bg_input" placeholder="Mobile number* (Optional)">
                                </div>

                                <textarea id="note" class="form-control bg_input mb-3" placeholder="Note" rows="3"></textarea>
                                <div class="btnThanhToanHopLe disableDiv">
                                    <button type="button" onclick="bookingNow()" class="btn btn_theme btn_md w-100  mb-3" id="btnCheckOut">
                                        BOOKING NOW
                                    </button>

                                    <div>
                                        <div id="paypal-button-container"></div>
                                    </div>
                                </div>
                       
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<script src="https://www.paypal.com/sdk/js?client-id=test&currency=USD"></script>

<script>
    setTimeout(changPrice, 500);
    var total = 0;
    var dateInvalid = false;
    var style = @((int)Model.Style);

    function bookingNow() {
        var dataJson = {
            id: @Model.Id,
            adultPriceCount: $("#AdultPrice").val(),
            elderlyPriceCount: 0,
            infantPriceCount: $("#InfantPrice").val(),
            childrenPriceCount: $("#ChildrenPrice").val(),
            email: $("#email").val(),
            fullName: $("#fullName").val(),
            note: $("#note").val(),
            phone: $("#phone").val(),
            startDate: $("#startDate").val(),
            endDate: $("#endDate").val(),
            pickUp: $("#pickUp").val()
        };
       
        if (dataJson.adultPriceCount <= 0 && dataJson.infantPriceCount <= 0 && dataJson.childrenPriceCount <= 0) {
            changPrice();
        }
        $(".btnThanhToanHopLe").addClass("disableDiv");

        $.post('/admin/PayPal/BookingNow', dataJson, function (data) {
                if (data?.status == true) {
                    $(".btnThanhToanHopLe").removeClass("disableDiv");
                window.location.href = "/admin/PayPal/Success/" + data.orderID;
                }
                else {
             }
        });
    }

    function changPrice() {
        var days = 1;
        if (style == 2) {
            const oneDay = 24 * 60 * 60 * 1000; // hours*minutes*seconds*milliseconds
            const firstDate = new Date($("#endDate").val());
            const secondDate = new Date($("#startDate").val());

            if (firstDate <= secondDate) {
                alert("Check In Date and Check Out Date invalid");
                dateInvalid = true;
            }
            else {
                dateInvalid = false;
            }

            days = Math.round(Math.abs((firstDate - secondDate) / oneDay));
            $("#nights").html(days);
        }

        $("#adultPriceCount").html($("#AdultPrice").val());
        $("#infantPriceCount").html($("#InfantPrice").val());
        $("#childrenPriceCount").html($("#ChildrenPrice").val());

        var adultPrice = $("#AdultPrice").val() * $("#AdultPrice").attr("data-price");
        var infantPrice = $("#InfantPrice").val() * $("#InfantPrice").attr("data-price");
        var childrenPrice = $("#ChildrenPrice").val() * $("#ChildrenPrice").attr("data-price");

        if ($("#InfantPrice").val() == undefined) {
            infantPrice = 0;
        }

        if ($("#ChildrenPrice").val() == undefined) {
            childrenPrice = 0;
        }
    
        total = (adultPrice + (infantPrice ?? 0) + (childrenPrice ?? 0)) * days;
   
        if (total <= 0) {
            $("#AdultPrice").val(1);
            changPrice();
            return;
        }

        $("#totalPrice").html("$ " + total.toFixed(2));
    }

    // function createCart() {
    //     $("#btnCheckOut").attr("disabled", "disabled");
    //     var dataJson = {
    //         id: @Model.Id,
    //         adultPriceCount: $("#AdultPrice").val(),
    //         elderlyPriceCount: 0,
    //         infantPriceCount: $("#InfantPrice").val(),
    //         childrenPriceCount: $("#ChildrenPrice").val(),
    //         email: $("#emailCustomer").val(),
    //         fullName: $("#fullNameCustomer").val(),
    //         note: $("#noteCustomer").val(),
    //         startDate: $("#startDate").val(),
    //         endDate: $("#startDate").val()
    //     };

    //     if (dataJson.adultPriceCount <= 0 &&  dataJson.infantPriceCount <= 0 && dataJson.childrenPriceCount <= 0) {
    //          changPrice();
    //     }

    //     $.post('/admin/PayPal/CreateCart?data=' + JSON.stringify(dataJson), function (data) {
    //         if (data?.status == true) {
    //             $("#btnCheckOut").removeAttr("disabled");
    //             // Redirect
    //             window.location.href = "/en/cart.html";
    //         }
    //         else {
    //         }
    //     });
    // }

    setInterval(function () { checkInput(); }, 1000);

    function checkInput() {
        if ($("#fullName").val() != "" && $("#email").val() != "" && $("#phone").val() != "" && total > 0 && dateInvalid == false) {
            $(".btnThanhToanHopLe").removeClass("disableDiv");
        }
        else {
            $(".btnThanhToanHopLe").addClass("disableDiv");
        }
    }

    // Render the PayPal button into #paypal-button-container
    paypal.Buttons({
        // Call your server to set up the transaction
        createOrder: function (data, actions) {
            var dataJson = {
                id: @Model.Id,
                adultPriceCount: $("#AdultPrice").val(),
                elderlyPriceCount: 0,
                infantPriceCount: $("#InfantPrice").val(),
                childrenPriceCount: $("#ChildrenPrice").val(),
                email: $("#email").val(),
                fullName: $("#fullName").val(),
                note: $("#note").val(),
                phone: $("#phone").val(),
                startDate: $("#startDate").val(),
                endDate: $("#endDate").val(),
                pickUp: $("#pickUp").val()
            };

            if (dataJson.adultPriceCount <= 0 && dataJson.infantPriceCount <= 0 && dataJson.childrenPriceCount <= 0) {
                changPrice();
            }

            return fetch('/admin/PayPal/CreateOrder/' + JSON.stringify(dataJson), {
                method: 'post'
            }).then(function (res) {
                return res.json();
            }).then(function (orderData) {
                return orderData.id;
            });
        },

        // Call your server to finalize the transaction
        onApprove: function (data, actions) {
            return fetch('/admin/PayPal/OrderCallBack/' + data.orderID + '/capture', {
                method: 'post'
            }).then(function (res) {
                return res.json();
            }).then(function (orderData) {
                if (orderData.status) {
                    setTimeout(function () {
                        window.location.href = "/admin/PayPal/Success/" + orderData.orderID;
                    }, 1000)
                }
            });
        }

    }).render('#paypal-button-container');
</script>
