@model TourStyle
@addTagHelper *, PT.UI
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer  Localizer
@inject ITourRepository _iTourRepository;
@inject ILinkRepository _iLinkRepository;


@using PT.Shared;
@{
    Layout = null;
    string language = PT.Base.CultureHelper.GetCurrentCulture.Id;
    var listWhere = await _iTourRepository.SearchAsync(0, 3, null, x => x.Status && x.Style == Model, x => x.OrderByDescending(n => n.CreatedDate),
               x => new Tour { Id = x.Id, Status = x.Status, Style = x.Style, CreatedDate = x.CreatedDate, Name = x.Name, Trips = x.Trips, Language = x.Language, Link = x.Link, Banner = x.Banner, Address = x.Address });
    var link = await _iLinkRepository.SingleOrDefaultAsync(true, x => !x.Delete && x.Status && x.ObjectId == (int)Model && x.Type == CategoryType.TourStyle);
}

<div class="row">
    @foreach (var item in listWhere)
    {
        <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.3s">
            <div class="tour_container">
                @if (item.IsTop)
                {
                    <div class="ribbon_3 popular"><span>Popular</span></div>
                }
                <div class="img_container">
                    <a href="@Functions.FormatUrl(item.Language,item.Link?.Slug)">
                        <img onerror="this.onerror=null;this.src = '/Content/Home/img/no-image.jpg';" src="@($"/data/image?path={item.Banner}&size=800")" alt="@item.Name" width="800" height="533" class="img-fluid">
                        <div class="short_info">
                            <i class="icon_set_1_icon-44"></i>
                            @if (item.Days == 1)
                            {
                                @item.Days <text>day</text>
                            }
                            else if (item.Days > 1)
                            {
                                @item.Days <text>days</text>
                            }

                            @if (item.Nights == 1)
                            {
                                @item.Nights <text>night</text>
                            }
                            else if (item.Nights > 1)
                            {
                                @item.Nights <text>nights</text>
                            }
                        </div>
                    </a>
                </div>
                <div class="tour_title">
                    <h3><strong>@item.Name</strong></h3>
                    <div class="tour-route">
                        @Functions.FormatTrips(item.Trips)
                    </div>
                    <div class="mt15">
                        <a class="btn_1 btn-template" href="@Functions.FormatUrl(item.Language,item.Link?.Slug)" role="button">Read more</a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
<p class="text-center nopadding">
    <a href="@Functions.FormatUrl(language,link?.Slug)" class="btn btn-default view-more-tour h4 text-secondary py-0 text-capitalize btn-view-all">View More Tours</a>
</p>