@model  string
@inject Microsoft.Extensions.Options.IOptions<List<AdvertisingHomepageSettings>> _advertisingHomepageSettings;
@{
    string language = PT.Base.CultureHelper.GetCurrentCulture.Id;
    var dl = _advertisingHomepageSettings.Value.FirstOrDefault(x => x.Status && x.Id == Model && x.StartDate.Date <= DateTime.Now.Date && x.EndDate.Date >= DateTime.Now.Date);
    int maxWidth = 1200;
    // int maxHeigh = (dl?.Height ?? 0) * (maxWidth / (dl?.Width ?? 1));
    int maxHeigh = 600;
    Layout = null;
}

@if (dl != null && dl.Status)
{

    <style>
         .canImgBanner img {
        width: auto;
        box-shadow: 2px 2px 14px #858585;
        max-width: @(maxWidth)px;
     }
    </style>

    <div class="canImgBanner">
        <button title="Đóng cửa sổ" type="button" class="close close-popup-home" data-dismiss="backPopup" aria-label="Close"> <span aria-hidden="true">×</span> </button>
        @if (dl.IsBannerImg)
        {
            @if (string.IsNullOrEmpty(dl.Href) || dl.Href == "#")
            {
                <img src="@dl.Banner" alt="banner home page" />
            }
            else
            {
                <a target="@dl.Target" href="@dl.Href" @(string.IsNullOrEmpty(dl.Rel) ? "" : $"rel=\"{dl.Rel}\"")><img src="@dl.Banner" alt="banner home page" /></a>
            }

        }
        else
        {
            <div class="banner-head-1">
                @dl.HeaderText1
            </div>
            <div class="banner-head-2">
                @dl.HeaderText2
            </div>
            <div class="banner-content-text">
                @dl.ContentText
            </div>
            <div class="banner-phone">
                @dl.Phone
            </div>

            @if (string.IsNullOrEmpty(dl.Href) || dl.Href == "#")
            {
                <img src="@dl.Banner" alt="banner home page" />
            }
            else
            {
                <a target="@dl.Target" href="@dl.Href" @(string.IsNullOrEmpty(dl.Rel) ? "" : $"rel=\"{dl.Rel}\"")><img src="@dl.Banner" /></a>
            }
        }

    </div>
    <script>
    changeBannerHome();
    $(window).resize(function() {
        changeBannerHome();
       }
    );
        function changeBannerHome() {
            var maxWidth =@maxWidth;
            var maxHeight = @maxHeigh;
            var widthWindow=$(window).width();
            var heightWindow = $(window).height();
            if (maxWidth < widthWindow) {
                widthWindow = maxWidth;
            }
            var tileHeightWidthFrame= @((float.Parse(maxHeigh.ToString()) / float.Parse(maxWidth.ToString())).ToString().Replace(",", "."));
            var tileHeightWidthWindow = heightWindow / widthWindow;


            if ((tileHeightWidthWindow > tileHeightWidthFrame) && (widthWindow < maxWidth)) {
                var per = (widthWindow / maxWidth) * 0.95;
                    $(".canImgBanner").css("transform", "translate(-50%, -50%)  scale(" + per + ")");
                 }
                else if (tileHeightWidthWindow < tileHeightWidthFrame) {
                    var per = (heightWindow / maxHeight) * 0.95;
                    $(".canImgBanner").css("transform", "translate(-50%, -50%)  scale(" + per + ")");
                }


         }
    $(".close-popup-home").click(function () {
        $("#parent-homepage").fadeOut(1000);
        $(".background-banner-homepage").hide();
        $("#parent-homepage").html("");
    });
    </script>
}