@model PT.UI.Models.HomeContactAppointmentModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer  Localizer

@{
    Layout = null;
    string language = PT.Base.CultureHelper.GetCurrentCulture.Id;
}
<button aria-label="Close" class="close" data-dismiss="modal">
    <i class="icon-error"></i>
</button>
<div class="modal-body">
    <div class="modal-form">
        <h3>@Localizer["Book an Appointment"]</h3>
        <form class="mt-15" asp-action="Booking" form-contact-book method="post" novalidate="novalidate">
            @Html.AntiForgeryToken()
            <div class="successform">
                <p>@Localizer["MsgSuccess"]</p>
            </div>
            <div class="errorform">
                <p>@Localizer["MsgError"]</p>
            </div>
            <div class="input-group">
                <span>
                    <i class="icon-user"></i>
                </span>
                <input type="text" asp-for="FullName" class="form-control" placeholder="@Html.DisplayNameFor(x=>x.FullName)*">
                <span asp-validation-for="FullName"></span>
            </div>
            <div class="row row-xs-space mt-1">
                <div class="col-sm-6">
                    <div class="input-group">
                        <span>
                            <i class="icon-email2"></i>
                        </span>
                        <input type="text" asp-for="Email" class="form-control" autocomplete="off" placeholder="@Html.DisplayNameFor(x=>x.Email)">
                    </div>
                    <span asp-validation-for="Email"></span>
                </div>
                <div class="col-sm-6 mt-1 mt-sm-0">
                    <div class="input-group">
                        <span>
                            <i class="icon-smartphone"></i>
                        </span>
                        <input type="text" asp-for="Phone" class="form-control" autocomplete="off" placeholder="@Html.DisplayNameFor(x=>x.FullName)*">
                    </div>
                    <span asp-validation-for="Phone"></span>
                </div>
            </div>
            <div class="row row-xs-space mt-1">
                <div class="col-sm-6">
                    <div class="input-group">
                        <span>
                            <i class="icon-birthday"></i>
                        </span>
                        <input type="text" asp-for="Age" class="form-control" autocomplete="off" placeholder="@Html.DisplayNameFor(x=>x.Age)*">
                    </div>
                    <span asp-validation-for="Age"></span>
                </div>
            </div>

            <div>
                <select id="mySelect2" style="width:100%;" asp-items="Model.CountrySelectlist" class="form-control" asp-for="CountryId">
                    <option value="">@Localizer["Select Country"] *</option>
                </select>
                <span asp-validation-for="CountryId"></span>
            </div>

            <div class="input-group flex-nowrap mt-1">
                <span>
                    <i class="icon-smartphone"></i>
                </span>
                <input type="text" readonly style="max-width: 80px !important; background-color: #9e9e9e1f;" asp-for="PhoneCode" class="form-control" autocomplete="off" placeholder="+">
                <input type="text" asp-for="Phone" style="margin-top: 0;" class="form-control" autocomplete="off" placeholder="@Html.DisplayNameFor(x=>x.Phone)">
                <span asp-validation-for="Phone"></span>
            </div>

            <div class="selectWrapper input-group mt-1">
                <span>
                    <i class="icon-tooth"></i>
                </span>
                <select asp-items="Model.ServiceSelectList" asp-for="ServiceId" class="form-control"></select>
                <span asp-validation-for="ServiceId"></span>
            </div>

            <div class="input-group flex-nowrap mt-1">
                <span>
                    <i class="icon-calendar2"></i>
                </span>
                <div class="datepicker-wrap">
                    <input asp-for="AppointmentDate" type="text" class="form-control datetimepicker" placeholder="@Html.DisplayNameFor(x=>x.AppointmentDate)*" readonly="">
                    <span asp-validation-for="AppointmentDate"></span>
                </div>
            </div>
            <div class="input-group flex-nowrap mt-1">
                <span>
                    <i class="icon-clock"></i>
                </span>
                <div class="datepicker-wrap">
                    <input asp-for="AppointmentTime" type="text" class="form-control timepicker" placeholder="@Html.DisplayNameFor(x=>x.AppointmentTime)*">
                    <span asp-validation-for="AppointmentTime"></span>
                </div>
            </div>
            <textarea name="bookingmessage" class="form-control" asp-for="Content" placeholder="Your comment"></textarea>
            <div class="text-right mt-2">
                <button type="button" btn-send-contact class="btn btn-sm">@Localizer["Book now"]</button>
                <input type="hidden" asp-for="Capcha" />
            </div>
        </form>
    </div>
</div>
<script src="~/Content/Admin/plugins/select2/select2.min.js"></script>

<script>

     var arrayList = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(ViewData["dataCountry"]));
        $('#mySelect2').select2({
          selectOnClose: true
        });
        $('#mySelect2').on("change", function () {

            if ($('#mySelect2').val() == "") {
                $("#PhoneCode").val("");
            }
            else {
                var dl = arrayList.find(x => x.Id == $('#mySelect2').val());
                if (dl != null) {
                    $("#PhoneCode").val(dl.PhoneCode);
                }
            }
        });

    $(document).on("click", "[btn-send-contact]", function () {
        
        initCapcha(function () {
            var form = $("[form-contact-book]");
            if (form.valid()) {
                $.ajax({
                    type: "POST",
                    url: form.attr("action"),
                    data: form.serialize(),
                    headers:
                    {
                        "RequestVerificationToken": form.find("input[name='__RequestVerificationToken']").val()
                    },
                    success: function (rs) {
                        if (rs.output == 1) {
                            $("[name='FullName']").val("");
                            $("[name='Email']").val("");
                            $("[name='Phone']").val("");
                            $("[name='Content']").val("");
                            $("[name='AppointmentDate']").val("");
                            $("[name='AppointmentTime']").val("");
                            $("[name='Age']").val("");
                            $(".successform").show();
                            $(".errorformhide").hide();
                        }
                        else if (rs.output == 99) {
                            initCapcha();
                        }
                        else {

                            $("[name='FullName']").val("");
                            $("[name='Email']").val("");
                            $("[name='Phone']").val("");
                            $("[name='Content']").val("");
                            $("[name='AppointmentDate']").val("");
                            $("[name='AppointmentTime']").val("");
                            $("[name='Age']").val("");

                            $(".errorformhide").show();
                            $(".successform").hide();
                        }
                    },
                    error: function () {
                        alert("Vui lòng F5 trình duyệt rồi thử lại!");
                    },
                    complete: function (jqxhr, txt_status) {
                        if (jqxhr.status == 502) {
                            alertify.notify("Phiên làm việc đã kết thúc F5 trình duyệt rồi thử lại.", "warning", 5);
                        }
                    }
                });
            }
        });
      
    });
</script>