@model PT.Domain.Model.BaseSearchModel<List<PT.Domain.Model.Contact>>
@addTagHelper *, PT.UI
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer  Localizer
@{
    Layout = "~/Views/Shared/_Home.cshtml";
    string language = PT.Base.CultureHelper.GetCurrentCulture.Id;
}
<div class="page-content">
    <div class="section mt-0">
        <div class="breadcrumbs-wrap">
            <div class="container">
                <div class="breadcrumbs">
                    <a href="/">@Localizer["Home"].Value</a>
                    <span>@Localizer["Testimonials"].Value</span>
                </div>
            </div>
        </div>
    </div>
    <div class="section page-content-first" style="margin-top:20px !important;">
        <div class="">
            <div class="row">
                <div class="col-md-12">
                    <div class=" bg-grey py-0">
                        <div class="container-fluid px-0">
                            <div class="row no-gutters">
                                <div class="col-sm-8 col-lg-6 mt-2 mt-lg-0 order-1 order-sm-0">
                                    <div class="reviews-wrap ml-auto d-flex flex-column justify-content-center">
                                        <div class="title-wrap text-center text-md-right">
                                            <div class="h-sub"></div>
                                            <h2 class="h1"><span  style="text-transform: uppercase;font-size: 21px;font-weight: 700;color: #f90027;" class="theme-color">@Localizer["WhatPeopleSays"]</span></h2>
                                        </div>
                                        <div class="js-reviews-carousel reviews-carousel text-center text-md-right">
                                            @foreach (var item in Model.Data)
                                            {
                                                <div class="review">
                                                    <input type="hidden" name="review_src" value="@item.Avatar" />
                                                    <p class="review-text review-text-slim" style="text-align: justify;">
                                                        <div class="">
                                                            @Html.Raw(item.Content)
                                                        </div>
                                                    </p>
                                                    <p><span class="review-author-position">@item.FullName</span></p>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4 col-lg-6 order-0 order-sm-1 reviews-photo">
                                    <img style="max-width:500px; width:100%;" id="testimonialsxxx" src="/Content/Home/images/content/testimonials-right.jpg" alt="testimonials">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="height:20px;">
    </div>
</div>

@section Scripts
{
    <script src="~/Content/Admin/js/jquery.validate.min.js"></script>
    <script src="~/Content/Admin/js/jquery.validate.unobtrusive.min.js"></script>
    
    <script>
        var currentPath = "";
        getAction();
        setInterval(function () {
            getAction();
        }, 500);
        function getAction() {
            if ($("#testimonialsxxx") != null) {
                var path = $(".review.slick-slide.slick-active [name='review_src']").val();
                console.log(path);
                if (currentPath != path) {
                    $("#testimonialsxxx").attr("src", path);
                    currentPath = path;
                }
            }
        }
    </script>
}
