@addTagHelper *, PT.UI
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer  Localizer
@{
    Layout = "~/Views/Shared/_Home.cshtml";
    string language = PT.Base.CultureHelper.GetCurrentCulture.Id;
}
<div class="page-content">
    <!--section-->
    <div class="section mt-0">
        <div class="breadcrumbs-wrap">
            <div class="container">
                <div class="breadcrumbs">
                    <a href="/">@Localizer["Home"].Value</a>
                    <span>@Localizer["Testimonials"].Value</span>
                </div>
            </div>
        </div>
    </div>
    <!--//section-->
    <div class="section page-content-first">
        <div class="container">
            <div class="text-center mb-2  mb-md-3 mb-lg-4">
                <div class="h-sub theme-color">@Localizer["WhatPeopleSays"].Value</div>
                <h1 class="bigTitle" >@Localizer["Testimonials"].Value</h1>
                <div class="h-decor"></div>
            </div>
        </div>
        <div class="container">
            <div id="myTabContentX"></div>
            <div class="rating-box">
                <div class="rating-number">5</div>
                <div class="star-rating"><span><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i></span></div>
                <div style="font-weight:500;">@Localizer["AverageCustomerRating"].Value</div>
            </div>
            <div class="text-center mb-3 mb-md-4 max-900">
                <p>@Localizer["Note"].Value</p>
                <p><a href="#writeReview" class="btn btn-hover-fill js-wrire-review"><i class="icon-right-arrow"></i><span>@Localizer["WriteYourReview"].Value</span><i class="icon-right-arrow"></i></a></p>
            </div>

            <ul class="nav nav-tabs" id="myTab" role="tablist" style="margin-left:-1px;margin-right:-1px;">
                <li class="nav-item" style="width:49.99%;text-align:center;">
                    <a  onclick="choseType(4)" style="font-weight: 500;font-weight: 500;border-radius: 0;" class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">VIDEO PHẢN HỒI KHÁCH HÀNG</a>
                </li>
                <li class="nav-item" style="width:49.99%;text-align:center;">
                    <a onclick="choseType(2)" style="font-weight: 500; font-weight: 500; border-radius: 0;" class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">PHẢN HỒI KHÁCH HÀNG</a>
                </li>
            </ul>

            <div id="myTabContent2" style="background: #fff;
        padding: 0px 20px 20px 20px;
        border: 1px solid #dddddd;
        position: relative;
        top: -2px;
    ">

            </div>

            <div class="mt-5 mt-md-8" id="writeReview">
                <h3>@Localizer["WriteAReview"].Value</h3>
                <div class="review-form-wrap opened mt-lg-3 contact-form" id="bindFormTest">
                </div>
            </div>
        </div>
    </div>
    <div style="height:50px;">
    </div>

</div>
@section Scripts
{
    <script src="~/Content/Admin/js/jquery.validate.min.js"></script>
    <script src="~/Content/Admin/js/jquery.validate.unobtrusive.min.js"></script>
    
    <script>
        initForm();
        var currentType = 4;

        getData(1);

        function choseType(type) {
            currentType = type;
            getData(1);
        }

        function initForm() {
            $.get("@Url.Action("FormTestimonials")", function (data) {
                $("#bindFormTest").html(data);
                var $form = $("[form-testimonials]");
                try {
                    // Unbind existing validation
                    $form.unbind();
                    $form.data("validator", null);
                    // Check document for changes
                    $.validator.unobtrusive.parse(document);
                    // Re add validation with changes
                    $form.validate($form.data("unobtrusiveValidation").options);
                } catch (e) {
                    console.log(e);
                }
            });
        }

        function getData(page) {
            $.get("@Url.Action("TestimonialsAjax")", { language: "@language", page: page, type: currentType  }, function (data) {
                $("#myTabContent2").html(data);
            });
        }

    </script>
}
