@model PT.Domain.Model.BaseSearchModel<List<PT.Domain.Model.ContentPage>>
@addTagHelper *, PT.UI
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer  Localizer
@inject ICategoryRepository _iCategoryRepository
@{
    Layout = "~/Views/Shared/_Home.cshtml";
    string language = PT.Base.CultureHelper.GetCurrentCulture.Id;
    int i = 1;
    var listCategory = await _iCategoryRepository.SearchAsync(true, 0, 0, x => x.Status && !x.Delete && x.Language== language && x.Type == CategoryType.CategoryService, null, x => new Category { Id = x.Id, Status = x.Status, Delete = x.Delete, Type = x.Type, Name = x.Name, Language = x.Language , ParentId= x.ParentId },true);
}
<div class="page-content">
    <div class="section mt-0">
        <div class="breadcrumbs-wrap">
            <div class="container">
                <div class="breadcrumbs">
                    <a href="/language">@Localizer["Home"].Value</a>
                    <span>@Localizer["FAQ"].Value</span>
                </div>
            </div>
        </div>
    </div>
    <div class="section page-content-first">
        @*<div class="container">
            <div class="text-center mb-2  mb-md-3 mb-lg-4">
                <h1 class="bigTitle" style="text-transform:uppercase;">@Localizer["FAQ"].Value</h1>
                <div class="h-decor"></div>
            </div>
        </div>*@
        <div class="container">
            <h1>@Localizer["FAQ"].Value</h1>
            <div style="height:40px;"></div>
            <div class="row">

                <div class="col-lg-9 aside">
                    <div class="blog-posts">
                        @if (Model.Data.Count() == 0)
                        {
                            <span>@Localizer["No records exist"].Value</span>
                        }
                        @foreach (var item in Model.Data)
                        {

                            <div class="blog-post @(i%2 ==0 ? "faqlist2":"faqlist1")" style="margin-bottom:0px;padding: 35px;">
                                <div class="blog-post-info">
                                    <div>
                                        <h2 class="post-title"><a href="@PT.Shared.Functions.FormatUrl(item.Language,item.Link?.Slug)">@item.Name</a></h2>
                                        <div class="post-meta">
                                            <div class="post-meta-author">@Localizer["PostBy"].Value: <strong class="author-name">@item.Author</strong></div>
                                            <div class="post-meta-date text-nowrap"><i class="icon icon-clock3"></i>@item.DatePosted.DateToString()</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="post-teaser" style="margin-top:10px;">@item.Summary</div>
                                <div class="mt-3 mt-lg-2"><a href="@PT.Shared.Functions.FormatUrl(item.Language,item.Link?.Slug)" class="btn btn-sm btn-hover-fill"><i class="icon-right-arrow"></i><span>@Localizer["Read more"].Value</span><i class="icon-right-arrow"></i></a></div>
                            </div>
                            i++;
                        }
                    </div>
                    <div class="clearfix"></div>
                    <div style="height:20px;"></div>
                    @Html.Raw(PT.Shared.Functions.GenPageList("", Model.Page, Model.TotalRows, Model.Limit, $"&k={Context.Request.Query["k"]}"))
                    <div style="height:20px;"></div>
                </div>
                <div class="col-lg-3 aside-left mt-5 mt-lg-0">
                    <div class="side-block">
                        <form method="get" action="@Localizer["Link"].Value" class="content-search d-flex">
                            <div class="input-wrap">
                                <input type="text" name="k" class="form-control" placeholder="Keywords">
                            </div>
                            <button type="submit"><i class="icon-search"></i></button>
                        </form>
                    </div>
                    <div class="side-block">
                        <h3 class="side-block-title">@Localizer["Question category"].Value</h3>
                        <ul class="categories-list">
                            @foreach (var item in listCategory.Where(x => x.ParentId > 0))
                            {
                                string path = $"{Localizer["Link"].Value}?c={item.Id}";
                                <li><a href="@path">@item.Name</a></li>
                            }
                        </ul>
                    </div>
                    <div class="row d-flex flex-column flex-sm-row flex-md-column">
                        @if (language == "vi")
                        {
                            <vc:view-module id="8" type="StaticInformation"></vc:view-module>
                        }
                        else if (language == "en")
                        {
                            <vc:view-module id="6" type="StaticInformation"></vc:view-module>
                        }
                    </div>
                </div>
            </div>
      
        </div>
    </div>
</div>
