@model ComponentModel<Tour>
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
@{
    Layout = null;
}

<section id="destination_thirteen_area" class="section_padding" style="background-color: var(--bg-color);">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-12">
                <div class="section_heading_thirteen">
                    <h2>BOOKING TICKET BUS</h2>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <img style="width:100%;" src="/anh-g1.jpg" alt="img" />
                    </div>
                    <div class="col-lg-4">
                        <img style="width:100%;" src="/anh-g2.jpg" alt="img" />
                    </div>

                    <div class="col-lg-4">
                        <img style="width:100%;" src="/anh-g3.jpg" alt="img" />
                    </div>
                </div>
                <div style="padding-bottom:30px;">
                </div>
            </div>
        </div>
        <!-- inner content -->
        <div class="row">
            <div class="col-lg-12">
                <div class="flight_search_result_wrapper">
                    <div class="row">
                        @foreach (var item in Model.Items.OrderBy(x=>x.Order))
                        {
                            string url = @PT.Shared.Functions.FormatUrl(item.Language, item.Link?.Slug);
                            <div class="col-md-6">
                                <a href="@url" style="color:#333;">
                                    <div class="flight_search_item_wrappper">
                                        <div class="flight_search_items" style="padding:10px;">
                                            <div class="multi_city_flight_lists">
                                                <div class="flight_multis_area_wrapper">
                                                    <div class="flight_search_left" style="padding-left:0px;">
                                                           <div class="flight_logo">
                                                    <img style="height:130px;" src="@item.Banner" alt="@item.Name">
                                                    </div>

                                                        <div class="flight_search_destination">
                                                            <p>From</p>
                                                            <h3>@item.From</h3>
                                                            <h6>Pick up: @item.PickUp</h6>
                                                        </div>

                                                    </div>

                                                    <div class="flight_search_middel">
                                                        <div class="flight_right_arrow">
                                                            <div class="range_plan" style="position: relative;left: 0;top: 28px;">
                                                                <i class="fas fa-exchange-alt"></i>
                                                            </div>
                                                            <h6>Non-stop</h6>
                                                        </div>
                                                        <div class="flight_search_destination">
                                                            <p>To</p>
                                                            <h3>@item.To</h3>
                                                            @* <h6>@item.PickOut</h6> *@
                                                        </div>

                                                    </div>
                                                </div>

                                            </div>
                                         @*    <div class="flight_search_right">
                                                <div class="tienich"><i class="bi bi-wifi"></i> <i class="bi bi-currency-exchange"></i> <i class="bi bi-snow2"></i> <i class="bi bi-person-check"></i></div>
                                                  <h5><del>$@(PT.Shared.Functions.GetFullPrice(item.AdultPrice ?? 0))</del></h5>
                                            <h2 style="color:#e32246;">$@(item.AdultPrice)<sup>*20% OFF</sup></h2> 
                                                <a style="width: 100%;" href="@url" class="btn btn_theme btn_sm">Book now</a> 
                                                <p>*Discount applicable on some conditions</p>
                                            </div>  *@
                                        </div>
                                    </div>
                                </a>
                            </div>
                        }
                    </div>
                 
                </div>
            </div>
        </div>
    </div>
</section>
<style>
    .tienich
    {

    }

    .tienich i {
            font-size: 26px;
            padding-left: 6px;
            padding-right: 6px;
            font-weight: bold;
    }

    .flight_search_right
    {
        padding: 10px 16px 10px 25px;
    }
</style>