@model PT.Domain.Model.PaymentTransaction
@addTagHelper *, PT.UI
@using Microsoft.AspNetCore.Mvc.Localization;
@using PT.Shared;
@inject IViewLocalizer Localizer
@inject ICategoryRepository _iCategoryRepository;
@inject IContentPageReferenceRepository _iContentPageReferenceRepository;
@inject Microsoft.Extensions.Options.IOptions<List<WebsiteInfoSettings>> websiteInfoSettings
@{
    Layout = "~/Views/Shared/_Home.cshtml";
}
<style>
    .disableDiv
    {
        background: #fff;
        pointer-events: none;
        opacity: 0.4;
    }
</style>
@if(Model == null)
{
    <div class="search-overlay">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="search-overlay-layer"></div>
                <div class="search-overlay-layer"></div>
                <div class="search-overlay-layer"></div>
                <div class="search-overlay-close">
                    <span class="search-overlay-close-line"></span>
                    <span class="search-overlay-close-line"></span>
                </div>
                <div class="search-overlay-form">
                    <form>
                        <input type="text" class="input-search" placeholder="Search here...">
                        <button type="button"><i class="fas fa-search"></i></button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Common Banner Area -->
    <section id="common_banner">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="common_bannner_text">
                        <h2>Booking submission</h2>
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li><span><i class="fas fa-circle"></i></span> Booking</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <a href="/">Quay lai trang chu</a>
}
else
{
    <div class="search-overlay">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="search-overlay-layer"></div>
                <div class="search-overlay-layer"></div>
                <div class="search-overlay-layer"></div>
                <div class="search-overlay-close">
                    <span class="search-overlay-close-line"></span>
                    <span class="search-overlay-close-line"></span>
                </div>
                <div class="search-overlay-form">
                    <form>
                        <input type="text" class="input-search" placeholder="Search here...">
                        <button type="button"><i class="fas fa-search"></i></button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Common Banner Area -->
    <section id="common_banner">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="common_bannner_text">
                        <h2>Booking submission</h2>
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li><span><i class="fas fa-circle"></i></span> Booking</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="tour_booking_submission" class="section_padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">

                    <div class="tou_booking_form_Wrapper">
                        <div class="booking_tour_form">
                            <div class="tour_booking_form_box">
                                <div class="tour_details_right_box_heading">
                                    <h3>@Model.Tour?.Name</h3>
                                </div>

                                @if(Model.Tour?.Style == TourStyle.Car)
                                {
                                    <div class="select_person_item">
                                        <div class="select_person_left">
                                            <h6>Trips</h6>
                                            <p>@Model.Tour?.From - @Model.Tour?.To</p>
                                        </div>
                                    </div>

                                    <div class="select_person_item">
                                        <div class="select_person_left">
                                            <h6>Pick Up</h6>
                                            <p>@Model.StartDate.ToString("yyyy/MM/dd") @Model.PicUp</p>
                                        </div>
                                    </div>
                                  
                                }
                                else if (Model.Tour?.Style == TourStyle.Tour)
                                {
                                    <div class="select_person_item">
                                        <div class="select_person_left">
                                            <h6>Address</h6>
                                            <p>@Model.Tour?.Address</p>
                                        </div>
                                    </div>

                                    <div class="select_person_item">
                                        <div class="select_person_left">
                                            <h6>Pick date</h6>
                                            <p>@Model.StartDate.ToString("yyyy/MM/dd")</p>
                                        </div>
                                    </div>
                                }
                                else if (Model.Tour?.Style == TourStyle.Hotel)
                                {
                                    <div class="select_person_item">
                                        <div class="select_person_left">
                                            <h6>Address</h6>
                                            <p>@Model.Tour?.Address</p>
                                        </div>
                                    </div>

                                    <div class="select_person_item">
                                        <div class="select_person_left">
                                            <h6>Check In</h6>
                                            <p>@Model.StartDate.ToString("yyyy/MM/dd")</p>
                                        </div>
                                    </div>

                                    <div class="select_person_item">
                                        <div class="select_person_left">
                                            <h6>Check Out</h6>
                                            <p>@Model.EndDate.ToString("yyyy/MM/dd")</p>
                                        </div>
                                    </div>
                                }

                                <div class="select_person_item">
                                    <div class="select_person_left">
                                        <h6>Payment policy</h6>
                                        <p>Payment 100% total ticket change</p>
                                    </div>
                                </div>
                                <div class="select_person_item">
                                    <div class="select_person_left">
                                        <h6>Cancellation Policy</h6>
                                        <p>Cancellation, 100% total ticket change</p>
                                    </div>
                                </div>

                                <div class="select_person_item">
                                    <div class="select_person_left">
                                        <h6>Ticket Policy</h6>
                                        <p>In case customer users a ticket that does not math the operating time, the ticket will not be refunded.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="booking_tour_form">
                        <div class="tour_booking_form_box">
                            <div class="tour_details_right_box_heading">
                                <h3>Booking submission</h3>
                            </div>
                            <form action="!#" id="tour_bookking_form_item">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <input required type="text" id="fullName" class="form-control bg_input" placeholder="First name* (Optional)">
                                        </div>
                                    </div>

                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <input required type="text" id="email" class="form-control bg_input" placeholder="Email address* (Optional)">
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <input required type="text" id="phone" class="form-control bg_input" placeholder="Mobile number* (Optional)">
                                        </div>
                                    </div>
                                </div>
                                <textarea id="note" class="form-control bg_input" placeholder="Note" rows="3"></textarea>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="tour_details_right_sidebar_wrapper">
                        <div class="tour_detail_right_sidebar">
                            <div class="tour_details_right_boxed">
                                <div class="tour_details_right_box_heading">
                                    <h3>Price</h3>
                                </div>
                                <div class="tour_package_details_bar_price">

                                    <div class="select_person_item">
                                        <div class="select_person_left">
                                            <h6>Adult</h6>
                                            <p>12y+ ($ @(Model.AdultPrice) /Per serson)</p>
                                        </div>
                                        <div class="select_person_right">
                                            <h6>@Model.Adult</h6>
                                        </div>
                                    </div>

                                    <div class="select_person_item">
                                        <div class="select_person_left">
                                            <h6>Elderly</h6>
                                            <p>60y+ ($ @(Model.ElderlyPrice) /Per serson)</p>
                                        </div>
                                        <div class="select_person_right">
                                            <h6>@Model.Elderly</h6>
                                        </div>
                                    </div>

                                    <div class="select_person_item">
                                        <div class="select_person_left">
                                            <h6>Children</h6>
                                            <p>2 - 12 years ($ @(Model.ChildrenPrice) /Per serson)</p>
                                        </div>
                                        <div class="select_person_right">
                                            <h6>@Model.Children</h6>
                                        </div>
                                    </div>

                                    <div class="select_person_item">
                                        <div class="select_person_left">
                                            <h6>Infant</h6>
                                            <p>Below 2 years ($ @(Model.InfantPrice) /Per serson)</p>
                                        </div>
                                        <div class="select_person_right">
                                            <h6>@Model.Infant</h6>
                                        </div>
                                    </div>

                                    <div class="total_subtotal_booking">
                                        <h6>Total Amount <span id="totalPrice">$ @Model.Total</span> </h6>
                                    </div>

                                    <div class="btnThanhToanHopLe disableDiv" style="margin-top:20px;">
                                        <div id="paypal-button-container"></div>
                                    </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    </section>
}
<script src="https://www.paypal.com/sdk/js?client-id=test&currency=USD"></script>

<script>
    setInterval(function () { checkInput(); }, 1000);
    function checkInput()
    {
        if($("#fullName").val() != "" && $("#email").val() != "" && $("#phone").val() != "") {
            $(".btnThanhToanHopLe").removeClass("disableDiv");
        }
        else
        {
            $(".btnThanhToanHopLe").addClass("disableDiv");
        }
    }
    // Render the PayPal button into #paypal-button-container
    paypal.Buttons({
        // Call your server to set up the transaction
        createOrder: function (data, actions) {
            return fetch('/admin/PayPal/CreateOrder?fullName=' + $("#fullName").val() + '&email=' + $("#email").val() + '&phone=' + $("#phone").val() + '&note=' + $("#note").val(), {
                method: 'post'
            }).then(function (res) {
                return res.json();
            }).then(function (orderData) {
                return orderData.id;
            });
        },

        // Call your server to finalize the transaction
        onApprove: function (data, actions) {
            return fetch('/admin/PayPal/OrderCallBack/' + data.orderID + '/capture', {
                method: 'post'
            }).then(function (res) {
                return res.json();
            }).then(function (orderData) {
                if (orderData.status) {
                    setTimeout(function () {
                        window.location.href = "/admin/PayPal/Success/" + orderData.orderID;
                    }, 2000)
                }
            });
        }

    }).render('#paypal-button-container');

</script>