@model ComponentModel<Category>
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer  Localizer
@{
    Layout = null;
    int stt = 1;
}
<div class="section">
    <div class="container">
        <div class="container-fluid px-0">
            <div class="title-wrap text-center">
                <div class="h-sub theme-color">@SR["What we offer"]</div>
                <h2 class="h1">@SR["General Services"]</h2>
                <div class="h-decor"></div>
            </div>
            <div class="row no-gutters services-box-wrap services-box-wrap-desktop">
                @foreach (var item in Model.Items)
                {
                    <div class="col-3 order-@stt">
                        <div class="service-box">
                            <div class="service-box-image" data-bg="@item.Banner2"></div>
                            <a href="@PT.Shared.Functions.FormatUrl(item.Language, item.Link?.Slug)">
                                <div class="service-box-caption text-center ml-auto">
                                    <h3 class="service-box-title">@item.Name</h3>
                                    <p>@Html.Raw(item.Summary)</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    stt++;
                }
            </div>
            <div class="row no-gutters services-box-wrap services-box-wrap-mobile">
                <div class="service-box-rotator js-service-box-rotator">
                    @foreach (var item in Model.Items)
                    {
                        <div class="service-box  service-box--hiddenbtn fixBackImg" style="background-image: url(@item.Banner2);">
                            <a class="apoint" href="@PT.Shared.Functions.FormatUrl(item.Language, item.Link?.Slug)">
                                <div class="service-box-caption text-center">
                                    <h3 class="service-box-title">@item.Name</h3>
                                    <p>@Html.Raw(item.Summary)</p>
                                </div>
                            </a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
   
</div>