@model PT.Domain.Model.BaseSearchModel<List<PT.Domain.Model.Menu>>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
    int i = 1;
}
<tr style="display:none !important;">
    <td colspan="999999">
        <input type="hidden" grid-data-page value="@Model.Page" />
        <input type="hidden" grid-data-totalrows value="@Model.TotalRows" />
        <input type="hidden" grid-data-limit value="@Model.Limit" />
    </td>
</tr>
@if (Model.TotalRows == 0)
{
    <tr>
        <td colspan="999">Không tìm thấy bản ghi nào</td>
    </tr>
}
@foreach (var item in Model.Data)
{
<tr class="tr-status-@(item.Status)">
    <td class="text-center">@PT.Shared.Functions.GenSTT(i, Model.Page, Model.Limit)</td>
        <td><span class="text-primary text-name">@item.Name</span></td>
        <td><span>@item.Code</span></td>
    <td>
        <div class="btn-group">
            <div class="btn-group btn- group-sm" role="group">
                <a onclick="onCopyClipboard('@PT.Base.CommonFunctions.GetStringModule(PT.Domain.Model.ModuleType.Menu,item.Code)')" title="Lấy link" class="btn bg-blue waves-effect btncontrolgrid"><i class="material-icons iconcontrol">link</i></a>
                <a button-popup data-open-edit data-target="#myModalBig" asp-action="Edit" asp-route-id="@item.Id" title="Cập nhật" class="btn bg-indigo waves-effect btncontrolgrid"><i class="material-icons iconcontrol">edit</i></a>
            </div>
        </div>
    </td>
</tr>
    i++;
}