@model PT.Domain.Model.EmployeeModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@inject Microsoft.Extensions.Options.IOptions<PT.Domain.Model.BaseSettings> _baseSettings
@{
    Layout = null;
}
<style>
    .tt-menu {
        z-index: 999999;
    }
</style>
<form form-edit asp-action="Create">
    <input type="hidden" name="categoryIds" />
    @Html.AntiForgeryToken()
    <input asp-for="Language" type="hidden" />
    <div class="sumaryValidateForm" asp-validation-summary="All"></div>
    <div class="modal-header">
        <h4 class="modal-title"><i class="material-icons">edit</i> THÊM MỚI NHÂN VIÊN - <span class="text-danger">@PT.Shared.ListData.ListLanguage.FirstOrDefault(x => x.Id == Model.Language)?.Name</span></h4>
    </div>
    <button title="Đóng cửa sổ" type="button" class="close btnclose-t" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <div class="modal-body">
        <div class="divmodal">
            <div class="row">
                <div class="col-md-3">
                    <div class="labelinfo-t bg-info mb-10">
                        ẢNH ĐẠI DIỆN
                    </div>
                    <div>
                        <div class="thumbnail imgfull avatar m-b-10" file-loadding>
                            <div class="image">
                                <img file-image id="imgBanner" alt="avatar" onerror="this.onerror=null;this.src = '/Content/Admin/images/no-avatar.jpg';" src="@(Model.Banner??" ")" class="img-responsive">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group input-group-t">
                                <input type="text" class="form-control input-sm form-control-t" asp-for="Banner">
                                <div class="input-group-addon btn-group-addon btn-group-addon-form-group">
                                    <a button-open-file-manager data-img="imgBanner" data-target="Banner" class="btn btn-icon btn-danger waves-effect"><i class="material-icons">attach_file</i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="labelinfo-t bg-info mb-10">
                        LĨNH VỰC CHUYÊN MÔN
                    </div>
                    <div class="pt-5"></div>
                    <div class="form-group">
                        <input type="checkbox" asp-for="Endodontics" class="filled-in chk-col-green" />
                        <label for="Endodontics" asp-for="Endodontics"></label>
                    </div>
                    <div class="pt-5"></div>
                    <div class="form-group">
                        <input type="checkbox" asp-for="GeneralDentistry" class="filled-in chk-col-green" />
                        <label for="GeneralDentistry" asp-for="GeneralDentistry"></label>
                    </div>
                    <div class="pt-5"></div>
                    <div class="form-group">
                        <input type="checkbox" asp-for="OralMedicine" class="filled-in chk-col-green" />
                        <label for="OralMedicine" asp-for="OralMedicine"></label>
                    </div>
                    <div class="pt-5"></div>
                    <div class="form-group">
                        <input type="checkbox" asp-for="OralSurgery" class="filled-in chk-col-green" />
                        <label for="OralSurgery" asp-for="OralSurgery"></label>
                    </div>
                    <div class="pt-5"></div>
                    <div class="form-group">
                        <input type="checkbox" asp-for="Orthodontics" class="filled-in chk-col-green" />
                        <label for="Orthodontics" asp-for="Orthodontics"></label>
                    </div>
                    <div class="pt-5"></div>
                    <div class="form-group">
                        <input type="checkbox" asp-for="Periodontics" class="filled-in chk-col-green" />
                        <label for="Periodontics" asp-for="Periodontics"></label>
                    </div>
                    <div class="pt-5"></div>
                    <div class="form-group">
                        <input type="checkbox" asp-for="Prosthodontics" class="filled-in chk-col-green" />
                        <label for="Prosthodontics" asp-for="Prosthodontics"></label>
                    </div>
                    <div class="labelinfo-t bg-info mb-10">
                        CẤU HÌNH HIỂN THỊ
                    </div>

                    @if (Model.Language != "vi")
                    {
                        <div class="form-group">
                            <label class="form-label" asp-for="EmployeeMappingId"></label> <span asp-validation-for="EmployeeMappingId"></span>
                            <div class="controls">
                                <select data-live-search="true" asp-items="@Model.EmployeeMappingSelectList" asp-for="EmployeeMappingId" class="input-sm form-control-t show-tick">
                                    <option value="0">Chọn nhân viên</option>
                                </select>
                            </div>
                        </div>
                    }

                    <div class="pt-5"></div>
                    <div class="form-group">
                        <input type="checkbox" asp-for="Status" class="filled-in chk-col-green" />
                        <label for="Status" asp-for="Status"></label>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="panel-group panel-website full-body" id="accordion_19" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingOne_1">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" href="#collapseOne_1" aria-expanded="true" aria-controls="collapseOne_1">
                                        <i class="material-icons">perm_contact_calendar</i> Thông tin chung
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseOne_1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne_1">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="form-label" asp-for="FullName"></label> <strong class="text-danger">*</strong> <span asp-validation-for="FullName"></span>
                                                <div class="controls">
                                                    <input  type="text" seo-page-name onkeydown="GenSlug(this)" onkeyup="GenSlug(this)" class="form-control input-sm form-control-t" asp-for="FullName">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="form-label" asp-for="Gender"></label>
                                                <div class="controls">
                                                    <input type="radio" id="radio_0" value="@PT.Domain.Model.Employee.EmployeeGender.Unknown" asp-for="Gender" class="with-gap radio-col-blue" />
                                                    <label for="radio_0" class="labelradio">Chưa xác định</label>
                                                    &nbsp;
                                                    <input type="radio" id="radio_2" value="@PT.Domain.Model.Employee.EmployeeGender.Male" asp-for="Gender" class="with-gap radio-col-green" />
                                                    <label for="radio_2" class="labelradio">Nam</label>
                                                    &nbsp;
                                                    <input type="radio" id="radio_3" value="@PT.Domain.Model.Employee.EmployeeGender.Female" asp-for="Gender" class="with-gap radio-col-red" />
                                                    <label for="radio_3" class="labelradio">Nữ</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="form-label" asp-for="Email"></label> <span asp-validation-for="Email"></span>
                                                <div class="controls">
                                                    <input type="text" class="form-control input-sm form-control-t" asp-for="Email">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="form-label" asp-for="Facebook"></label> <span asp-validation-for="Facebook"></span>
                                                <div class="controls">
                                                    <input type="text" class="form-control input-sm form-control-t" asp-for="Facebook">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="form-label" asp-for="Phone"></label> <span asp-validation-for="Phone"></span>
                                                <div class="controls">
                                                    <input type="text" class="form-control input-sm form-control-t" asp-for="Phone">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="form-label" asp-for="Degrees"></label> <span asp-validation-for="Degrees"></span>
                                                <div class="controls">
                                                    <input type="text" class="form-control input-sm form-control-t" asp-for="Degrees">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="form-label" asp-for="Job"></label> <span asp-validation-for="Job"></span>
                                                <div class="controls">
                                                    <select data-live-search="true" asp-for="Job" class="input-sm form-control-t show-tick">
                                                        <option value="0">Chọn loại công việc</option>
                                                        <option value="@PT.Domain.Model.Employee.EmployeeJob.Job1">@PT.Domain.Model.Employee.EmployeeJob.Job1.GetDisplayName()</option>
                                                        <option value="@PT.Domain.Model.Employee.EmployeeJob.Job2">@PT.Domain.Model.Employee.EmployeeJob.Job2.GetDisplayName()</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="form-label" asp-for="Office"></label> <span asp-validation-for="Office"></span>
                                                <div class="controls">
                                                    <input type="text" class="form-control input-sm form-control-t" asp-for="Office">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label" asp-for="Summary"></label> <span asp-validation-for="Summary"></span>
                                        <div class="controls">
                                            <textarea id="ricktextSummary" class="form-control form-control-t" rows="3" placeholder="" asp-for="Summary"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label" asp-for="Content"></label> <span asp-validation-for="Content"></span>
                                        <div class="controls">
                                            <textarea id="ricktextContent" seo-page-content  class="form-control form-control-t" rows="3" placeholder="" asp-for="Content"></textarea>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        @*<div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingOne_3">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" href="#collapseOne_3" aria-expanded="true" aria-controls="collapseOne_3">
                                        <i class="material-icons">public</i> Thông tin seo web
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseOne_3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne_3">
                                <partial name="_SeoModule" model="@(PT.Shared.MapModel<PT.Domain.Model.SeoModel>.Go(Model))" />
                            </div>
                        </div>*@
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="modal-footer" style="text-align:center;">
        <a class="btn btn-icon btn-default waves-effect" data-dismiss="modal"><i class="material-icons">reply</i><span>Đóng</span></a>
        <a button-submit data-language="@Model.Language" data-loading-text="<i class='material-icons icon-spin'>autorenew</i> <span>Lưu thay đổi</span>" class="btn btn-icon bg-indigo waves-effect"><i class="material-icons">save</i> <span>Lưu thay đổi</span></a>
    </div>
</form>
<script>
    initRickText();
      $("[name='Lastmod']").toDateTimePicker();
</script>