@model PT.UI.Models.HomeContactAppointmentModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer  Localizer;
@inject ICategoryRepository _iCategoryRepository;

@{
    Layout = null;
    string language = PT.Base.CultureHelper.GetCurrentCulture.Id;
    Model.ServiceSelectList = new SelectList(await _iCategoryRepository.SearchAsync(true, 0, 0, x => !x.Delete && x.Status && x.Type == CategoryType.CategoryService && x.Language == language), "Id", "Name");

}
<form form-book-2 action="/@language/ContactHome/Booking" form-contact-book-2 method="post" novalidate="novalidate">
    <div class="row">
        <div class="col-md-4  mt-1">
            <div class="link-drop">
                <h5 class="link-drop-title title-home-index"><i class="icon-clock icon-template"></i>@SR["Working Time"]</h5>
                <table class="row-table table-lich">
                    <tr>
                        <td><i>@SR["Mon-Thu"]</i></td>
                        <td>08:00 - 19:00</td>
                    </tr>
                    <tr>
                        <td><i>@SR["Friday"]</i></td>
                        <td> 08:00 - 19:00</td>
                    </tr>
                    <tr>
                        <td><i>@SR["Saturday"]</i></td>
                        <td>08:30 - 17:00</td>
                    </tr>
                    <tr>
                        <td><i>@SR["Sunday"]</i></td>
                        <td>@SR["Closed"]</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col-md-8 mt-1">
            @Html.AntiForgeryToken()
            <h5 class="link-drop-title title-home-index"><i class="icon-calendar2 icon-template"></i>@SR["Make an Appointment"]</h5>
            <div class="row row-sm-space">
                <div class="col-sm-6  mb-1">
                    <div class="selectWrapper input-group">
                        <span>
                            <i class="icon-tooth"></i>
                        </span>
                        <select asp-items="@Model.ServiceSelectList" asp-for="ServiceId" class="form-control"></select>
                        <span asp-validation-for="ServiceId"></span>
                    </div>



                    <div class="input-group mt-1">
                        <span>
                            <i class="icon-user"></i>
                        </span>
                        <input type="text" asp-for="FullName" class="form-control" placeholder="@Html.DisplayNameFor(x=>x.FullName)*">
                        <span asp-validation-for="FullName"></span>
                    </div>

                    <div class="row row-sm-space">
                        <div class="col-sm-6 mt-1">
                            <div class="input-group flex-nowrap">
                                <span>
                                    <i class="icon-calendar2"></i>
                                </span>
                                <div class="datepicker-wrap">
                                    <input asp-for="AppointmentDate" type="text" class="form-control datetimepicker" placeholder="@Html.DisplayNameFor(x=>x.AppointmentDate)*" readonly="">
                                    <span asp-validation-for="AppointmentDate"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 mt-1">
                            <div class="input-group flex-nowrap">
                                <span>
                                    <i class="icon-clock"></i>
                                </span>
                                <div class="datepicker-wrap">
                                    <input asp-for="AppointmentTime" type="text" class="form-control timepicker" placeholder="@Html.DisplayNameFor(x=>x.AppointmentTime)*">
                                    <span asp-validation-for="AppointmentTime"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6  mb-1">
                    <div style="margin-bottom:5px;">
                        <select id="mySelect3" style="width:100%;" asp-items="Model.CountrySelectlist" class="form-control" asp-for="CountryId">
                            <option value="">@Localizer["Select Country"] *</option>
                        </select>
                        <span asp-validation-for="CountryId"></span>
                    </div>
                    <div class="input-group">
                        <span>
                            <i class="icon-smartphone"></i>
                        </span>
                        <input type="text" readonly style="max-width: 80px !important; background-color: #9e9e9e1f;" asp-for="PhoneCode" class="form-control" autocomplete="off" placeholder="+">
                        <input type="text" asp-for="Phone" class="form-control" autocomplete="off" placeholder="@Html.DisplayNameFor(x=>x.Phone)*">
                        <span asp-validation-for="Phone"></span>
                    </div>
                    <div class="input-group mt-1">
                        <span>
                            <i class="icon-email2"></i>
                        </span>
                        <input type="text" asp-for="Email" class="form-control" autocomplete="off" placeholder="@Html.DisplayNameFor(x=>x.Email)">
                        <span asp-validation-for="Email"></span>
                    </div>
                    <div class="text-right mt-1">
                        <button type="button" btn-send-contact-2 class="btn btn-sm"><i class="icon-right-arrow"></i><span>@SR["BookNow"]</span><i class="icon-right-arrow"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

